@media (min-width:320px) and (max-width: 480px)  {
    a.customerUpload,a.customerManual {
        font-weight: bold !important;
        font-size: 16px !important;
        color: #a0a0a0 !important;
        padding: 5px !important;
    }
    #dragDropUploadBtn {
        margin-right: 0px !important;
    }
    .customerDetailsForm {
        margin-bottom: 0 !important;
        width: 159% !important;
        text-align: -webkit-right !important;
    }

}
@media (max-width: 600px) and (min-width: 801px)
.card {
    border-radius: 10px !important;
    width: 85% !important;
    border: 0;
}
@font-face {
	font-family: Futura;
	src: url('../fonts/Futura-Medium.otf') format("otf");
	font-weight: normal;
}
body {
    font-family: Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
	background-color: #f7f3fa !important
}
.row {
    margin-right: 0px !important
}
#tabContentRow {
    margin-right: -15px !important
}
#toggleMenuId {
    width: 35px
}
.nav-item {
     padding-left: 15px;
     padding-right: 15px
}
.navBgPinkColor{
    background-color: #871a99;
    height: 10%
}
.navLinkOnboardColor{
    color: white !important;
}
#iconMF {
	height: 40px;
	margin-top: 10px;
	border-radius : 6px;
}
#iconsec{
    margin-top : 20px
}
#companyInfoContent{
    margin-top : 15px
}
#showUser{
    margin-top: 32px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
}
#iconCompanyLogo{
    height: 50px;
    border-radius : 8px;
}
#companyNameInfo{
   font-family: Futura, Futura-Bold, "Futura Bold", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
	 color:#474747;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 20px !important;
    font-weight: bold;
    padding-left: 0px !important
}
#section3span{
   font-family: Futura, Futura-Bold, "Futura Bold", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
     font-size: 20px;
}
#section3col{
    font-size: 14;
    margin-top: 25;
    color:#bc93c3;
    font-weight: bold;
}
#adminPanelSec1{
    color:#474747;
    background-color: #f7f3fa;
    border:1px solid #eeeced;
    height:100%;
    width:100%;
    margin-right: 1%
}
#sideBar {
    font-size: 14px;
    color:#464646 !important;
    background-color: #f7f3fa;
    border-right: 3px solid #f4ecf3;
    z-index: 1;
}
#bodyContent {
    background-color: #f7f3fa
}
.sideMenu{
    list-style: none;
}
.sideBarIcons {
    width: 25px
}
.sideBarIcons2X {
    width: 26px
}
.items{
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
   font-weight: bold;
    font-size: 15px !important;
    padding-top: 10px;
    padding-bottom: 10px
}
.fontsize1{
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
   font-size: 13px;
    font-weight: bold;
    background-color: #f7f3fa;
}
.fontsize2{
    font-size: 12px;
    line-height:30px;
    font-weight: 510;
}
.navbar-nav{
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

}
#searchIcon {
    background-color: #ffee98;
}
#adminPanelSec2{
    padding-top:10px;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

    font-size: 18px;
    color:#474747;
}
#adminPanelSec2OpPanel{
    margin-bottom: 0;
    font-size: 15px;
}
#adminPanelSec2OB{
    color:#871a99;
}
#adminPanelSec2Head{
    margin-bottom: 0;
    font-weight: bold
}
#buyModuleDiv{
    border-top:2px solid #ebe0f3;
    border-bottom:2px solid #ebe0f3;
}
#buyModuleMenu{
    margin-bottom: 4px;
    margin-top:4px;
   font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

    font-size: 14px;
    font-weight: bold;
    background-color: #ebe0f3;
    height: 26px;
}
.buyModuleMenuListAnchor:hover{
    color:#474747 !important;
    text-decoration: none !important;
}
.buyModuleMenuListAnchor{
    text-decoration: none !important;
    color: #9f9f9f !important;
}
.defaultMarginTopTen {
    margin-top: 10px
}
#viewAllCategory {
    color: #871a99;
    font-size: 15px !important;
    font-weight: bold
}
#cardSec{
    padding-top: 15px;
    padding-right: 30px;
}
.card{
    border-radius: 10px !important;
    width: 40%;
    border: 0;
}
.card-header{
    color: #fff;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

    font-size: 14px;
    font-weight: bold;
    background-color: #9f4faa;
    border:1px solid #f9d4ff;
}

.card-footer{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border: 0;
    background-color: #fff;
    padding-top: 0px;
}
#card-footer-reports{
    background-color:#f7f6fa !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border:1px solid #f9d4ff;
}
#card-body-reports{
    background-color:#f7f6fa !important;
    border:1px solid #f9d4ff;
}
.activeClass {
    border-bottom: 3px solid black;
    color: #453c3c !important;
    font-weight: bold;
    padding-bottom: 2px
}
<!-- Sidebar CSS Start -->
#sideBar {
    background: #f7f3fa
}
.list-group-item {
    background: #f7f3fa;
    border: 0px;
    color: #000;
    font-weight: bold;
    padding: 0.75rem 0.35rem !important;
    margin-left: 5%
}
.list-group-item:hover {
    color: #871a99
}
.mini-submenu{
  display:none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  /*position: relative;*/
  width: 42px;
}
.mini-submenu:hover{
  cursor: pointer;
}
.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}
.mini-submenu .icon-bar {
  background-color: #000;
}
#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
<!-- Sidebar CSS End -->
#dropDownMenu a {
    color: #000 !important;
}
#dropDownMenu:after {
    border-top: 0px !important
}
#dropDownMenu:hover {
    color: #871a99
}
.dropDownListClass {
    padding: 10px 0px 10px 30px;
    color: #000
}
#userAccessMenu {
    position: relative !important
}
#onboardDropDown {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
}
#SubMenu1 {
  padding-left:20px !important;
}
.paddingLeftZero {
    padding-left: 0px !important
}
.paddingTen {
    padding: 10px
}
.activeNav {
	border-bottom: 2px solid black;
	color: #464646 !important;
	padding-bottom: 5px
}
#onBoardTab, #viewTab {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-align: center !important
}
#onBoardAnchor, #viewAnchor {
    color: #7f7f7f
}
#onBoardAnchor:hover, #viewAnchor:hover {
    text-decoration: none !important
}
.navHeading {
    background-color: #f9f3fa;
    box-shadow: outset -7px 0 9px -7px rgba(0,0,0,0.7)
}
.bgColor {
    background-color: #f9f3fa
}
.paddingTopTen {
    padding-top: 10px
}
.paddingLeftRightTen {
    padding-left: 10px;
    padding-right: 10px
}
.subscribeModuleTab {
    font-size: 14px;
    font-weight: bold;
}
.subModule {
    color: #a0a0a0
}
.activeClass {
   font-weight: bold;
   border-bottom: 3px solid black;
   color: black
}
.bgColorModule {
    padding-top: 5px;
    padding-bottom: 5px
}
.textAlignCenter {
    text-align: center !important
}
#customer, #supplier, #product {
    text-align: center
}
#buyUploadOption, #sellUploadOption, #bothUploadOption {
    text-align: right;
    margin-top: 5px
}
.buyUploadOptionSpan a, .sellUploadOptionSpan a, .bothUploadOptionSpan a  {
    color: #464646;
    font-weight: bold;
}
.buyUploadOptionSpan > a:hover, .sellUploadOptionSpan > a:hover, .bothUploadOptionSpan > a:hover  {
    text-decoration: none
}
.buyUploadOptionSpan, .sellUploadOptionSpan, .bothUploadOptionSpan {
    background-color: #fcfaff;
    color: #464646;
    padding: 5px 10px 5px 10px;
}
#buyUploadAuto, #sellUploadAuto, #bothUploadAuto {
    border: 2px solid #dac7ff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#buyUploadManual, #sellUploadManual, #bothUploadManual  {
    border: 2px solid #dac7ff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.activeOption {
    border: 2px solid #998cb2 !important;
    background-color: #d9c1e8;
}
.activeOption a {
    color: #871a99 !important
}
#bothcustomer > .bgColor, #bothsupplier > .bgColor, #bothproduct > .bgColor {
    background: #eddcf0;
    padding-top: 5px
}
.buyModuleTab a, .sellModuleTab a, .bothModuleTab a {
    color: #606060;
    font-weight: bold;
    font-size: 13px;
}
.buyModuleTab > a:hover, .sellModuleTab > a:hover, .bothModuleTab > a:hover {
    text-decoration: none
}
.buyModuleTabActive, .sellModuleTabActive, .bothModuleTabActive {
    background-color: #eddcf0
}
.buyModuleTabActive > a, .sellModuleTabActive > a, .bothModuleTabActive > a {
    color: #474747 !important;
    padding-bottom: 5px;
    border-bottom: 3px solid black
}
.subModule > li > a {
    color: #a0a0a0;
    font-weight: bold
}
.subModule > li > a:hover {
    text-decoration: none
}
.active {
    color: #464646 !important
}
#buy, #sell, #both {
    width: 100% !important;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: none
}
#buyNavUL, #sellNavUL, #bothNavUL {
    padding-right: 0px;
    margin-top: 5px;
    border: 1px solid #f2e4f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#buyNavUL > li > a, #sellNavUL > li > a, #bothNavUL > li > a {
    color: #606060
}
.activeLi {
    color: #474747;
    background-color: #
}
#buycustomer, #buyproduct, #sellsupplier, #sellproduct, #bothcustomer, #bothsupplier, #bothproduct {
    width: 100% !important;
    padding-left: 0.9em;
    border-bottom: 3px solid #f4ecf3
}
.watchVideo {
    width: 100px
}
a.customerUpload, a.customerManual {
    font-weight: bold;
    font-size: 13px;
    color: #a0a0a0;
    padding: 5px
}
a.customerUpload:hover, a.customerManual:hover {
    text-decoration: none
}
.uploadActive {
    color: #464646 !important;
    border-bottom: 3px solid black;
}
.tree-container {
    padding: 0px !important;
    margin:0;
    cursor: pointer;
}

.tree-container .tree-li {
    list-style:none;
}
.tree-container .tree-li .tree-ul {
    padding-left: 20px !important;
    background-color: #f7f3fa;
}
.tree-container .tree-li .tree-ul.diactive {
    display: none;
}

.tree-container .tree-li [type="checkbox"] + label {
    padding-left: 25px !important;
}
.fa-caret-down{
    padding-left: 5px
}
#sideBarRight {
    background: #f7f3fa;
    border-left: 3px solid #f4ecf3;
}
.todotag{
    font-weight: bold;
    font-size: 13px;
    border-bottom: 3px solid black;
}
.todocontent{
    padding-top:10px;
    font-size: 11px;
}
.notificationtag{
    font-weight: bold;
    font-size: 13px;
    border-bottom: 3px solid black;
}
.notificationcontent{
    font-size: 11px;
}
.sideBarAlignClass {
    margin-top: 15%;
    margin-bottom: 15%
}
.count{
    color: white;
    background-color: #f55f58;
    padding: 1px 6px 1px 6px;
    border-radius: 6px;
}
.floatClass {
    float: right
}
#dragDropPanelDiv{
    background-color: #f7f3fa;
}
#panelCard{
    padding-top: 4%;
    padding-bottom: 4%;
}
#dragDropDiv, #productDragDropDiv{
    padding: 10 10 0 10;
    color: #464646;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

    margin: 10 50 0 50;
    height: 120px;
    border: 2px dashed #9e4faa;
}
#upto10mp{
    margin: 0 50 0 50;
    font-size: 9px;
    font-weight: bold;
}
#dragDropUploadBtn, #productDragDropUploadBtn{
    margin-right: 20px;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

    border-radius: 6px;
    color: #f9f3fa;
    background-color: #9e4faa;
    width: 100px;
}
.output{
font-size: 14px;
color: #ff0000;
font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

margin: 10 50 0 50;
display: inline-block;
}

#GoogleLink{
    width:80%;
    border: 2px dashed #9e4faa;
    color: #464646;
    margin-bottom: 10px;
}
input::-webkit-input-placeholder {
color: #464646 !important;

}

input:-moz-placeholder { /* Firefox 18- */
color: #464646 !important;

}

input::-moz-placeholder {  /* Firefox 19+ */
color: #464646 !important;

}

input:-ms-input-placeholder {
color: #464646 !important;
}

.modalBorderClass {
    border: 2px solid #881999
}
.modalTitleHead {
    color: #881999;
    font-weight: bold
}
.modalBtnClass, .modalBtnClass:hover {
    background: #ffd500;
    color: #881999;
    font-weight: bold;
    border: 2px solid #881999
}
.fontWeightBold {
    font-weight: bold
}
.formGroup > input, .formGroup > input:focus  {
    height: 30px;
	border: 1px solid #ffd500;
	border-radius: 8px;
	padding: 10px !important
}
.success_msg, .up_success_msg {
    color: #881999;
    font-weight: bold;
    display: inline-block
}
.error_msg, .up_error_msg {
    color: #ff0000;
    font-weight: bold;
    display: inline-block
}
/* for cutomer details form */
#id_customer_shiptoRemarks, #id_customer_shiptoContact, #id_customer_shiptoDescription, #id_customer_shiptoName, #id_customer_shiptoCode, #id_City, #id_Country, #id_State, #id_postalCode, #id_postalCode, #id_custaddStreet2, #id_custaddStreet1, #id_customerName, #id_customerCode, #id_customerContact, #id_customer_soldto_Address, #id_email, #id_contactNo, #id_customer_soldto_addressCode{
    height: 30px;
    width: 250px !important;
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    padding: 10px !important;
 }
.customerDetailsForm{
    margin-bottom: 0;
}

#customerFormDiv{
    padding-top:3%;
    padding-left:3%;
}
.paddingBottom2Percent {
    padding-bottom: 2%
}
.headingColor {
    background-color: #fdfafd
}
#bodyDynamicContent {
    margin-right: -15px !important
}
.bothmodule {
    margin-right: -15px !important
}
.tabOptionDiv {
    margin-top: -0.3%;
    margin-bottom: -0.3%;
    margin-left: -2.2%;
}
.productTabOptionDiv {
    margin-top: -0.3%;
    margin-bottom: 1.2%;
    margin-left: -2.2%;
}
.tabOption {
    border: 1px solid #b7aeae;
    padding-bottom: 2%
}
.borderLeftRadiusTab {
    border-top-left-radius: 5px !important
}
.borderRightRadiusTab {
    border-top-right-radius: 5px !important
}
.tabOptionActive {
    border-bottom: none !important
}
#tradeByValue{
    height: 30px;
    width: 250px !important;
    border: 1px solid #bb99c0;
    border-radius: 8px;
    padding: 4px !important;
}