	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/04/2019 11:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../icon/Flaticon.eot");
  src: url("../icon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../icon/Flaticon.woff2") format("woff2"),
       url("../icon/Flaticon.woff") format("woff"),
       url("../icon/Flaticon.ttf") format("truetype"),
       url("../icon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../icon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-user-avatar-with-check-mark:before { content: "\f100"; color: #ffd500; vertical-align: middle; font-size: 40px; }
.flaticon-production-plant:before { content: "\f101"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-production-plant-1:before { content: "\f102"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-dashboard:before { content: "\f103"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-group-of-people-in-a-formation:before { content: "\f104"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-group-of-users-silhouette:before { content: "\f105"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-signing-the-contract:before { content: "\f106"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-location-pointer:before { content: "\f107"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-four-squares-with-frame-shape:before { content: "\f108"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-logistics-delivery-truck-in-movement:before { content: "\f109"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-delivery-truck:before { content: "\f10a"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-money-abacus-tool-to-count:before { content: "\f10b"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-magnifier-on-calendar-page:before { content: "\f10c"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-abacus:before { content: "\f10d"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-user-key-on-screen:before { content: "\f10e"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-pilot-hat:before { content: "\f10f"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-market-store:before { content: "\f110"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-api-page:before { content: "\f111"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-map:before { content: "\f112"; color: #ffd500; vertical-align: middle; font-size: 25px; font-weight: bold; }
.flaticon-analytics:before { content: "\f113"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-viral-marketing:before { content: "\f114"; color: #ffd500; vertical-align: middle; font-size: 25px; font-weight: bold; }
.flaticon-certificate:before { content: "\f115"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-diagram:before { content: "\f116"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-padlock:before { content: "\f117"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-admin:before { content: "\f118"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-admin-1:before { content: "\f119"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-collaboration:before { content: "\f11a"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-warehouse:before { content: "\f11b"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-document:before { content: "\f11c"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-customer:before { content: "\f11d"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-customer-1:before { content: "\f11e"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-meeting:before { content: "\f11f"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-key:before { content: "\f120"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-api:before { content: "\f121"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-hat:before { content: "\f122"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-login:before { content: "\f123"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-file:before { content: "\f124"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-inventory:before { content: "\f125"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-inventory-1:before { content: "\f126"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-exchange:before { content: "\f127"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-audit:before { content: "\f128"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-protection:before { content: "\f129"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-box:before { content: "\f12a"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-value:before { content: "\f12b"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-product:before { content: "\f12c"; color: #ffd500; vertical-align: middle; font-size: 25px; font-weight: bold; }
.flaticon-hierarchical-structure:before { content: "\f12d"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-packing-list:before { content: "\f12e"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-tracking:before { content: "\f12f"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-update:before { content: "\f130"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-speedometer:before { content: "\f131"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-planning:before { content: "\f132"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-order:before { content: "\f133"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-shopping-groceries:before { content: "\f134"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-popcorn-maker:before { content: "\f135"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-zoom:before { content: "\f136"; color: #ffd500; vertical-align: middle; font-size: 25px; }
.flaticon-user:before { content: "\f137"; color: #ffd500; vertical-align: middle; font-size: 25px; }