@font-face {
	font-family: Futura;
	src: url('../fonts/Futura_Font.otf') format("otf");
	font-weight: normal;
}
body {
	font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
	background-color: #fffdf2;
}
.removePaddingFromContainerFluidClass {
	padding: 0px !important
}
.navBgColor {
	background: #ffd500 !important
}
.navLinkColor {
	font-size: 16px !important;
	font-weight: bold;
	line-height: 24px !important;
	color: #484847 !important;
}
.nav-item {
	padding-left: 10px;
	padding-right: 10px
}
.navbar {
	padding: 3px 20px;
	box-shadow: 5px 5px 5px #b3aeae;
}
.navbar-brand {
	margin-left: 25px
}

.input-group-addon {
	padding: .5rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;
	color: #495057;
	text-align: center;
	background-color: #e9ecef;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.borderRadius {
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px;
	width: 160px !important
}
#signUpLi {
	margin-right: 50px
}
/* Sticky footer styles */
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #92928c;
}
.login_footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #92928c;
}
/* Sticky footer end */
#GuideOnRow {
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 5px;
	margin-bottom: 10px
}
#guideOnImage {
	width: 300px;
}
#orderTangoAccount {
	width: 300px;
}
.paragraphClass {
	margin-bottom: 0px !important
}
#languageIconRow {
	background-color: #E0D6B7;
	height: 40px;
	margin-right: 0px !important
}
.languageIconClass {
	height: 20px;
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
}
.active {
	border-bottom: 3px solid black;
	padding-bottom: 3px
}
#guideRow {
	margin-top: 40px;
	padding-bottom: 40px;
	box-shadow: 5px 5px 5px #b3aeae;
	margin-right: 0px;
}
.footerClass {
  position: absolute;
  bottom: 0;
}
#orderTangoLogoId {
	width: 200px; 
	height: 50px
}
.paddingLeftZero {
	padding-left: 0px
}
#readyToRegisterId {
	margin-right: 40px
}
.guideImages {
	width: 300px
}
#validateId {
	margin-left: 20px; 
	margin-right: 40px
}
#onBoardId {
	margin-left: 20px; 
	margin-right: 40px
}
.learnMoreDiv {
	text-align: center; 
	margin-top: 10px
}
#reg_learnMore {
	width: 100px
}
#reg_watchVideo {
	width: 100px
}
#val_learnMore {
	width: 100px
}
#val_watchVideo {
	width: 100px
}
#onb_learnMore {
	width: 100px
}
#onb_watchVideo {
	width: 100px
}
#unLockIcon {
	width: 360px;
}
#unLockRow {
	margin-top: 30px; 
	margin-bottom: 20px;
	margin-right: 0px
}
@media (min-width:320px) and (max-width: 480px)  {
	.col-12 {
		flex: 0% !important
	}
	.navbar-brand {
		margin-left: 5px
	}
	#guideSteps {
		padding-top: 10px;
		padding-bottom: 5px; 
	}
	#languageIconRow {
		height: 80px;
	}
	#readyToRegisterId {
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: 0px !important;
		padding-right: 0px !important
	}
	#validateId {
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: 0px !important;
		padding-right: 0px !important
	}
	#onBoardId {
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: 0px !important;
		padding-right: 0px !important
	}
	#languageIconRow {
		margin-right: 0px !important
	}
	#guideRow {
		margin-right: 0px !important
	}
	#unLockRow { 
		margin-right: 0px !important
	}
	#unLockIcon {
		width: 320px
	}
}
@media (min-width:600px) and (max-width:801px) {
	.col-sm-12 {
		flex: 0% !important
	}
	.navbar-brand {
		margin-left: 0px
	}
	#guideSteps {
		padding-top: 20px;
		padding-bottom: 10px; 
	}
	.guideImages {
		width: 425px;
	}
	#readyToRegisterId {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px
	}
	#validateId {
		text-align: center;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px
	}
	#onBoardId {
		text-align: center;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px
	}
	#reg_learnMore {
		width: 125px
	}
	#reg_watchVideo {
		width: 125px
	}
	#val_learnMore {
		width: 125px
	}
	#val_watchVideo {
		width: 125px
	}
	#onb_learnMore {
		width: 125px
	}
	#onb_watchVideo {
		width: 125px
	}
}