@font-face {
	font-family: Futura;
	src: url('../fonts/Futura-Medium.otf') format("otf");
	font-weight: normal;
}
body {
	background-color: #fdfdff !important;
}
.navBgPinkColor{
    background-color: #871a99;
}
.navLinkOnboardColor{
    color: white !important;
}
#iconMF {
	height: 50px;
	margin-top: 10px;

}
#iconsec{
    margin-top : 20px
}
#companyInfoContent{
    margin-top : 15px
}
#showUser{
    margin-top : 35px;
    font-size: 13;
    font-weight: bold;
}
#iconCompanyLogo{
    height: 60px;
}
#companyNameInfo{
    font-family: Futura, Futura-Bold, "Futura Bold", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    color:#474747;
    margin-top: 10;
    font-size: 25;
    font-weight: bold;
}
#section3span{
    font-family: Futura, Futura-Bold, "Futura Bold", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-size: 20;
}
#section3col{
    padding-right: 30px;
    font-size: 14;
    margin-top: 25;
    color:#e1d7bc;
    font-weight: bold;
}
#adminPanelSec1{
    color:#474747;
    background-color: #f7f3fa;
    margin-left:20%;
    border:1px solid #eeeced;
    border-radius: 12px;
    height:100%;
    width:80%;
}
.sideMenu{
    list-style: none;
    padding:10 0 50 10;
}
.fontsizebold{
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-weight: bold;
}
.fontsize1{
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-size: 13px;
    font-weight: bold;
    background-color: #f7f3fa;
}
.fontsize2{
    font-size: 12px;
    line-height:30px;
    font-weight: 510;
}
.navbar-nav{
    font-family: Futura, Futura-Bold, "Futura Bold", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

}
#searchIcon {
    background-color: #ffee98;
}
#adminPanelSec2{
    padding-top:10px;
    font-family: Futura, Futura-Bold, "Futura Bold", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-size: 18px;
    color:#474747;
}
#adminPanelSec2OpPanel{
    margin-bottom: 0;
    font-size: 15px;
}
#adminPanelSec2OB{
    color:#871a99;
}
#adminPanelSec2Head{
    margin-bottom: 0;
}
#buyModuleDiv{
    border-top:2px solid #ebe0f3;
    border-bottom:2px solid #ebe0f3;
}
#buyModuleMenu{
    margin-bottom: 4px;
    margin-top:4px;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #ebe0f3;
    height: 26px;
}
.buyModuleMenuListAnchor:hover{
    color:#474747 !important;
    text-decoration: none !important;
}
.buyModuleMenuListAnchor{
    text-decoration: none !important;
    color: #9f9f9f !important;
}
#cardSec{
    padding-top: 15px;
    padding-right: 30px;
}
.card{
    border-radius: 10px !important;
}
.card-header{
    color: #fff;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #9f4faa;
    border:1px solid #f9d4ff;
}
.card-body{
    background-color: #ebe0f3;
    border:1px solid #f9d4ff;
}
.card-footer{
    background-color: #ebe0f3;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border:1px solid #f9d4ff;
}
#card-footer-reports{
    background-color:#f7f6fa !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border:1px solid #f9d4ff;
}
#card-body-reports{
    background-color:#f7f6fa !important;
    border:1px solid #f9d4ff;
}

