.tree-container {
    padding: 0px !important;
    margin:0;
    cursor: pointer;
}

.tree-container .tree-li {
    list-style:none;
    }
.tree-container .tree-li .tree-ul {
    padding-left: 20px !important;
    background-color: #f7f3fa;
}
.tree-container .tree-li .tree-ul.diactive {
    display: none;
}

.tree-container .tree-li [type="checkbox"] + label {
    padding-left: 25px !important;
}
.fa-caret-down{
    padding-left: 5px
}

.orderMgmtTab {
    text-align: center;
    padding: 5px 0px 5px 0px
}
.orderMgmtTab > a {
    color: a0a0a0;
    font-weight: bold
}
.orderMgmtTab > a:hover {
    text-decoration: none !important
}
.orderMgmtTabActive {
    background-color: #fdf7e3;
}
.orderMgmtTabActive > a {
    color: black;
    text-decoration: none
}
.bgColorModule {
    background-color: #fff7d0;
    padding-top: 5px;
    padding-bottom: 5px
}
.headClass {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none !important
}
.subHeadClass {
    color: #474747;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none !important;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
}
.removeTextDecoration {
    color: #212529;
    text-decoration: none !important
}
.removeMarginsFromRow {
    margin-left: 5px !important;
    margin-right: 5px !important
}
.removePaddingFromRow {
    padding-left: 0px;
    padding-right: 0px
}
.borderTop {
    border-top: 2px solid #ece8c4
}
.borderBottom {
    border-bottom: 2px solid #ece8c4
}
.tabPaneClass {
    width: 100%;
    padding: 5px 0px 5px 0px
}
.textAlignCenter {
    text-align: center
}
.orderSubLi {
    color: #A0A0A0;
    font-weight: bold;
}
.orderSubLi:hover {
    cursor: pointer
}
.orderSubLiActive {
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #000000
}
.liClass{
 width:100%;
}
.circle {
  position:relative;
  display:inline-block;
  width:3.5%;
  height:30px;
  border:1px solid yellow;
  background-color: #CCC;
  border-radius:100%;
  text-align:center;
  line-height:45px;
  float:left;
  margin-top: 5px
}
.lines {
 width: 9%;
 height: 0px;
 border:1px solid #e6e6e6;
 float:left;
 margin-top:20px;
}
.line {
 width: 10%;
 height: 0px;
 border:1px solid #e6e6e6;
 float:left;
 margin-top:20px;
}
.selectClass {
  background-color: #ecebeb;
  border: thin solid #979797;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.3em 1.5em 0.3em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 125px
}
.liClassRow {
    margin: 1% 0% 1% 4% !important
}
.selectClass.arrows {
  background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
  background-position: calc(100% - 0rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
}

.selectClass.arrows:focus {
  border-color: blue;
  outline: 0;
}
.subNavTitle {
  color: #000000;
  font-weight: bold;
  padding: 10px 5px 5px 5px;
  font-size: 13px
}
.paddingTopTwenty {
    padding-top: 20px
}
.sideBarIcons1X {
    width: 25px
}
#timeSlot {
    width: 110px !important;
    font-size: 11px;
    margin-left: 5px;
    background-color: #f5f3f3;
}
#placeOrderBtn {
    width: 100px;
    cursor: pointer !important
}
#deliverLocationHead {
    border: 2px solid #fbeda0;
    background-color: #fbeda0;
    border-radius: 5px;
    padding: 2px;
    margin-left: 0%
}
#deliverTitleHead {
    margin-top: 8px
}
#deliAddressHead {
    padding-left: 10px
}
#deliLocaHead {
    font-size: 12px;
    font-weight: bold
}
#addressHead {
	border: 2px solid #bebcb4;
	background-color: #eeeeee;
	color: #606060;
	padding: 1px 4px 1px 10px;
	margin-left: 0%
}
#addressDetail {
	border: 2px solid #e0dcb7;
	background-color: #fffbe7;
	color: #6e6e6c;
	padding: 1px 4px 1px 10px;
	min-height: 170px !important;
	margin-left: 0%
}
#addressFooter {
    background-color: #e6dec3;
    height: 4.5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0%
}

/* Order Mgmt Table CSS Start */
#onHomeAnchor {
    color: #464646
}
#sideBarOrderMgmt {
    font-size: 14px;
    background-color: #fffbe7;
    border-right: 3px solid #f8f4d8;
    z-index: 1;
}
.list-group-itemnew{
    background-color: #fffdf2;
}
.tree-container .tree-li .tree-ulnew {
    padding-left: 20px !important;
    background-color: #fffdf2;
    line-height: 2.5;
}
#bodyContent {
    background-color: #fffdf2;
}
.navHeading {
    background-color: #fffdf2;
}
#sideBarRight {
    background: #fffdf2;
}
#tabContentRow {
    margin-right: 0px !important;
}
.bgColor {
     background-color: #fffdf2;
}
.bgColornew {
    background-color: #fffdf2;
}
.buyModuleTabActive, .sellModuleTabActive, .bothModuleTabActive {
    background-color: #fff7d0;
}
.borderbottomcolor{
    border-bottom: 3px solid #f8f4d8 !important;
}
.addProductTable{
    font-size: 13px;
    text-align: center;
}
/* Order Mgmt table CSS End */
/* Table Page Inline CSS Start */
.sampleModalPopup {
    max-width: 35%
}
#customerFileUpload {
    display: none;
}
.qtytextbox{
    width: 80px !important;
    border: 1px solid #c9a6c0;
    border-radius: 8px !important;
    text-align: center;
}
#checkOutBtn{
    cursor: pointer !important;
}
.cartCancelBtn{
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 30px;
    background-color: #ffe870;
    color:#464646;
    border: 1px solid #c9a6c0;
    border-radius: 8px !important;
    padding: 0px 8px 0px 8px!important;
    font-size:12px;
    font-weight:bold;
    cursor: pointer !important;
}
.cartAddBtn{
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 30px;
    background-color: #ffe870;
    color:#464646;
    border: 1px solid #c9a6c0;
    border-radius: 8px !important;
    padding: 0px 8px 0px 8px!important;
    font-size:12px;
    font-weight:bold;
    cursor: pointer !important;
}
#select_category{
    -webkit-appearance: none;
    -moz-appearance: none;
    //background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff7d0;
    background: url('/static/images/ddarrow.png') no-repeat right #fff7d0;
    color:#464646;
    height: 30px;
    width: 100px !important;
    border: 1px solid #eae7b8;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 4px 16px 4px 12px!important;
    font-size:12px;
    font-weight:bold;
    cursor: pointer !important;
}
#select_suppliers{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/static/images/ddarrow.png') no-repeat right #fff7d0;
    color:#464646;
    height: 30px;
    width: 100px !important;
    border: 1px solid #eae7b8;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    padding: 4px 16px 4px 12px!important;
    font-size:12px;
    font-weight:bold;
    cursor: pointer !important;
    margin-left:-5px;
}
.table thead th{
    border-bottom: 0px !important;
}
.table td, .table th{
    border-top: 0px !important;
}

.page-link{
    background-color: #fff7d0 !important;
    color: #464646 !important;
    border: 1px solid #eae7b8;
    padding: .3rem .5rem;
    font-size: 12px;
    font-weight: bold;
}
.page-item:last-child .page-link {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.page-item:first-child .page-link {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.page-item.disabled .page-link {
    border-color: #eae7b8;
}
#addProductTable_info{
    color: #464646 !important;
    font-size: 12px;
    font-weight: bold;
}
.odd{
    background-color: #fff7d0;
}
/* Table Page Inline CSS End */
.activeLine {
    border: 1px solid #f5ce09
}
.activeBeforeCircle {
    border: none;
    background-color: #9f6ea1
}
.activeCircle {
    border: 2px solid #ffd500;
    background-color: #9f6ea1
}
table.dataTable {
    margin-left: 20px !important
}
#sideBarRight {
    margin-top: 0px
}
#deliveryAddress, #deliveryDate{
    font-size: 14px;
    margin-top: 2px
}
#selectDeliveryAddress {
    font-size: 14px;
    margin-top: 5px
}
.success_msg, .up_success_msg {
    color: #881999;
    font-weight: bold;
    display: inline-block
}
.error_msg, .up_error_msg {
    color: #ff0000;
    font-weight: bold;
    display: inline-block
}
.price {
    height: 30px;
    width: 85px !important;
    border: 1px solid #ffd500;
    border-radius: 8px;
    padding: 10px !important;
    font-size: small;
}
.acceptOrReject{
    border: 1px solid #bb99c0;
    border-radius: 8px;
    width: 100px;
}
.commentTextBox{
    border: 1px solid #bb99c0;
    border-radius: 8px;
}
.viewCusProdConfirmBtn{
   border: 1px solid #bb99c0;
   border-radius: 8px;
}
#updatebutton, #updatebutton:hover {
    background: #ffd500;
    color: #881999;
    font-weight: bold;
    border: 2px solid #881999;
}
#menuTab, .orderMenuTab {
    background-color: #fffdf2
}
.orderMenuTab {
    margin-left: -15px
}
.orderHead {
    padding-bottom: 4px;
    background-color: #fffdf2;
    color: #474747
}
.orderSubHead {
    padding: 5px;
    color: #474747;
    font-weight: bold
}
.orderSubHeadLeftActive {
    border: 1px solid #edeac0;
    border-top-left-radius: 10px;
    background-color: #fdf7e3
}
.orderSubHeadRightActive {
    border: 1px solid #edeac0;
    border-top-right-radius: 10px;
    background-color: #fdf7e3
}
#pastOrdersMenu {
    margin-left: 1.5%;
}
table.viewOrderTable {
    margin-top: 0px !important
}
.odd{
    background-color: #fff
}
.even {
    background-color: #fef9e1
}
#orderMgmtTabUL {
    margin-left: 15px !important;
    padding-right: 0px;
    border: 1px solid #edeac0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#addresspanel {
    height: 200px !important
}
#sideTabMenu {
    padding-left: 1%;
    padding-right: 1%
}