#languageIconRow {
    background-color: #E0D6B7;
    height: 40px;
    margin-right: 0px !important
}
.languageIconClass {
    height: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.active {
    border-bottom: 3px solid black;
    padding-bottom: 3px
}
.defaultMarginTopTen {
    margin-top: 10px !important
}
.footer_login {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #92928c;
}