#languageIconRow {
    background-color: #E0D6B7;
    height: 40px;
    margin-right: 0px !important
}
.languageIconClass {
    height: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.active {
    border-bottom: 3px solid black;
    padding-bottom: 3px
}
#guideRowLogin {
    margin-top: 40px;
    padding-bottom: 40px;
    margin-right: 0px;
}
.panel {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	background-color: #fbf2c4;
	border: 1px solid transparent;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading{
    border-radius: 10%;
}
#otloginlogo{
    width:200px;
}
.labelClass {
	font-weight: bold
}
.footer_login {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: #92928c;
}
.form-group {
    margin-bottom: 0rem !important;
}
.firstnamelabel {
    font-weight: bold;
}
#id_password, #id_confirm_password, #id_old_password{
	height: 30px;
	width: 150px !important;
	border: 1px solid #ffd500;
	border-radius: 8px;
	padding: 10px !important;
}
#submitbutton {
    background: url("/static/images/register/submit.png");
    background-size: cover;
    border: none;
    width: 100px;
    height: 32px;
    cursor: pointer;
    color: transparent;
    float: right;
    margin-right: 20px;
}
#id_firstName, #id_state, #id_postalCode, #id_country, #id_lastName, #id_contactNo, #id_email, #id_sec_question, #id_sec_answer, #id_companyName, #id_address_Line1, #id_address_Line2{
    height: 30px;
    width: 250px !important;
    border: 1px solid #bb99c0;
    border-radius: 8px;
    padding: 4px !important
}
#id_unit1, #id_unit2 {
    height: 30px;
    width: 100px !important;
    border: 1px solid #bb99c0;
    border-radius: 8px;
    padding: 4px !important;
    margin-right: 5px
}