#logoLeft {
    background-color: #fffdf2 !important;
    padding-top: 10px;
}
.navbar-brand {
    margin-left: 25px;
}
.allstartatfirst {
    width: 200px;
}
body {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}
#guideIconDiv {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.registerlearnmore {
    width: 100px;
}
#watchVideoReg {
    margin-left: 10px;
}
.registerwatchvideo {
    width: 100px;
}
.active {
    border-bottom: 3px solid black;
    padding-bottom: 3px;
}
.languageIconClass {
    height: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
#logoRight {
    background: #f7f5fa !important;
    padding-top: 10px;
}
#bodyleft {
    padding-top: 10px;
    background: #fffdf2 !important;
}
.registerhorizontalline {
    width: 94%;
    border-bottom: 3px solid #f6dc44;
    margin-top: 2px !important;
    margin-bottom: 4px !important;
}
#congratsHead {
    color: #010101;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.congratsNotiContent {
    font-size: 16px;
    margin-top: 20px;
    color: #272725;
    text-align: justify !important;
}
#onBoardDiv {
    margin-top: 10px;
}
#onboardbutton {
    background: url("/static/images/register/onboardbtn.png");
    background-size: cover;
    border: none;
    width: 100px;
    height: 32px;
    cursor: pointer;
    color: transparent;
    float: right;
    margin-right: 20px;
}
#bodyright {
    padding-top: 10px;
    background: #f7f5fa !important;
}
#footerRight {
    background-color: #f7f5fa !important;
}
.valfooter-right {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.bottomImage {
    position: relative;
    width: 100%;
    height: 140px;
}