#logoLeft {
    background-color: #fffdf2 !important;
    padding-top: 10px;
}
.navbar-brand {
    margin-left: 25px;
}
.allstartatfirst {
    width: 200px;
}
#guideIconDiv {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.registerlearnmore, .registerwatchvideo {
    width: 100px;
}
#watchVideoReg {
    margin-left: 10px;
}
.active {
    border-bottom: 3px solid black;
    padding-bottom: 3px;
}
.languageIconClass {
    height: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
#logoRight {
    background: #f7f5fa !important;
    padding-top: 10px;
}
#bodyleft {
    padding-top: 10px;
    background: #fffdf2 !important;
}
.registerhorizontalline {
    width: 94%;
    border-bottom: 3px solid #f6dc44;
    margin-top: 2px !important;
    margin-bottom: 4px !important;
}
#msgIcon {
    width: 150px;
}
#emailSent {
    font-weight: 400 !important;
    font-size: 18px;
    line-height: 24px;
    color: #212529;
}
#emailIdIcon {
    margin-left: 10px;
    color: #6a58a3;
    font-size: 18px;
}
#mailNotifiContent {

    font-size: 16px;
    text-align: justify !important;

}
#enterCodeContent {

    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
    color: #0E0E0E;

}
#enterCode {

    text-align: center !important;

}
#otpDiv {

    font-size: 18px;
    margin-top: 10px;

}
#otp {

    border: none;
    width: 5.9ch;
    background: repeating-linear-gradient(90deg, #624E9F 0, #624E9F 1ch, transparent 0, transparent 1.5ch) 0 100%/100% 7px no-repeat;
    color: #000000; 
    font-size: 4.5ch;
    letter-spacing: .4ch;

}
.defaultMarginTopFourty {

    margin-top: 40px !important;

}
#validateBtn {

    background: url("/static/images/register/button.png");    
    background-size: cover;
    border: none;
    width: 100px;
    height: 32px;
    cursor: pointer;
    color: transparent;
    float: right;

}
#resendOTP{
    border: 0px;
    font-size: 13px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #984fa5;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}
.roundImage {
    height: 15px;
    margin-bottom: 3px;
}
.defaultMarginTopNew {
    margin-top: 50px !important;
}
.error, .errorlist {

    font-size: 14px !important;
    font-weight: bold;
    color: red !important;

}
#bodyright {

    padding-top: 10px;
    background: #f7f5fa !important;

}
#footerRight {

    background-color: #f7f5fa !important;

}
.valfooter-right {

    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

}
.bottomImage {

    position: relative;
    width: 100%;
    height: 140px;

}