<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h3>{{organization.companyName}}</h3>
            <h6>{{authUser.firstName}}&nbsp;{{authUser.lastName}}</h6>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li (click)="isChatRoom = true" class="nav-item">
                      <a [ngClass]="{'active': isChatRoom === true}" class="nav-link">Chats</a>
                    </li>
                    <li (click)="isChatRoom = false" class="nav-item">
                      <a [ngClass]="{'active': isChatRoom === false}" class="nav-link">Contacts</a>
                    </li>
                  </ul>
            </div>
            <div class="row">
                <div *ngIf="!isChatRoom" class="contacts">
                    <h4>Contacts</h4>
                    <div class="contact-user" *ngFor="let user of users">
                        <span (click)="createChatRoom(user.firstName, user.lastName)" *ngIf="user.status === 'Active'" class="user">
                            {{ user.firstName }}&nbsp;{{ user.lastName }}
                            <span *ngIf="user.firstName === authUser.firstName && user.lastName === authUser.lastName">(you)</span>
                        </span>
                    </div>
                </div>
                <div *ngIf="isChatRoom" class="chat">
                    <div class="chat-room">
                        <h4>Chats</h4>
                        <button *ngIf="!createRoom" (click)="createRoom = true" class="btn btn-primary">Create</button>
                    </div>
                    <div *ngIf="rooms.length !== 0 && !createRoom">
                        <div class="inside-rooms" *ngFor="let room of rooms">
                            <span class="room-section" *ngIf="!room.is_archived">
                                <span (click)="selectChatRoom(room.name)" class="room">{{ room.temp_name }}&nbsp;&nbsp;</span>
                                <button (click)="deleteThread(DeleteThread, room.id)" class="delete-thread btn btn-warning">Delete</button>
                            </span> 
                        </div>
                    </div>
                    <div *ngIf="rooms.length === 0 && !createRoom">
                        <span><i>You don't have any chat room</i></span>
                    </div>
                    <div *ngIf="createRoom" class="">
                        <span class="back" (click)="createRoom=false">(<- Back)</span>&nbsp;Create Chat Room<br>
                        <form [formGroup]="roomForm">
                            <input (keyup)="onKey($event)" class="input-room" formControlName="roomName" type="text" size="100"/><br>
                            <input (click)="submitChatRoom()" class="btn btn-primary" type="button" value="Create"/><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">  
            <app-chat-room (roomMessage)="getRoomMessage($event)" [room_name]='this.chat_room' [member_fn]='this.chat_member_firstName' [member_ln]='this.chat_member_lastName'></app-chat-room>
        </div>
    </div>
</div>

<ng-template #DeleteThread>
    <div class="delete-body modal-body">
        <p>Are you sure you want to delete this thread?</p>
    </div>
    <div class="delete-footer modal-footer">
        <button (click)="deleteChatRoom(DeleteSucess, delThread)" class="btn btn-danger">Delete</button>
        <button (click)="closeDeleteModal()" class="btn btn-secondary">Cancel</button>
    </div>
</ng-template>

<ng-template #DeleteSucess>
    <div class="sucess-header modal-header">
        <button (click)="closeDeleteSuccessModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="success-body modal-body">
        <p>Thread was successfully deleted!</p>
    </div>
</ng-template>
