:root {
   --main-font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif; 
}

.container-fluid {
    padding: 0;
}

nav {
    background: #ffd500;
    padding: 0.4rem 0.8rem 0.1rem;
}

.row {
    padding: 1rem 2rem;
}

.col-4 {
    /* border-right: 2px solid #881999; */
}

.contacts {
    padding-left: 2rem;
}

.contact-user {
    font-size: 1.2rem;
}

.user {
    cursor: pointer;
}

.room-section {
    /* display: grid;
    cursor: pointer; */
    margin-bottom: 0.5rem;
}

.chat-room {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.room {
    cursor: pointer;
}

.room-date {
    color: #BEBEBE;
    font-size: xx-small;
}

.select-chat {
    background-color: #881999;
    color: #f0f0f0;
    border: none;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.back {
    cursor: pointer;
}

.input-room {
    width: 100%;
}

.delete-thread {
    float: right;
}

.inside-rooms {
    margin-bottom: 1.5rem;
}

.chat {
    width: 100%;
    padding: 1rem;
}

.nav-tabs {
    width: 100%;
}

.nav-item {
    width: 50%;
}

.nav-link {
    text-align: center;
}

.nav-link.active {
    color: #881999;
    font-weight: 500;
}
