<div class="container">
    <nav>
        <div>
            <h4 *ngIf="hasChatRoom">{{this.roomNewName}}</h4>
            <div class="sdsfdsfs" *ngFor="let member of roomMembers">
                {{member.member}} &nbsp;
            </div>
        </div>
        <button (click)="addMemberModal(AddThreadMember)" class="btn btn-secondary">Add Member</button>
    </nav>
    <div class="message-body">
        <div *ngIf="hasMessages && hasChatRoom">
            <ul class="sentMessage" *ngFor="let message of messages">
                <li>
                    <span class="message">{{ message.message }}</span>
                    <span class="message-date">{{message.date_created}}</span>
                </li>
            </ul>
        </div>
        <div class="noMessage" *ngIf="!hasMessages && hasChatRoom">
            <span>You can now start your conversation</span>
        </div>
        <div class="noChatRoom" *ngIf="!hasChatRoom">
            <span>You can now create chat room or converse with one of your peers in Contacts</span>
        </div>
    </div>
    <div class="message-form">
        <form [formGroup]="messageForm" #messageArea class="form">
            <!-- <input (keyup)="onKey($event)" formControlName="content"  type="text" placeholder="Enter message..." size="100" [disabled]="hasNoChatRoom === true ? true: null"/><br/> -->
            <!-- <input (keyup)="onKey($event)" formControlName="content"  type="text" placeholder="Enter message..." size="100" /><br/> -->
            <textarea (keyup)="autoGrow()" #textArea formControlName="content" type="text" placeholder="Enter message..."></textarea>
            <input (click)="onSubmit()" class="create-room btn btn-primary" type="button" value="Send" [disabled]="!hasChatRoom"/>
        </form>
    </div>
</div>

<ng-template #AddThreadMember>
    <div class="modal-header">
        <h4>Add Member</h4>
        <button (click)="closeMemberModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="members">
            <div *ngFor="let member of addedMembers"  class="select">
                <span class="selectedAddedMember">
                    {{member.firstName}}&nbsp;{{member.lastName}}
                    <span class="remove" (click)="removeAddedMember(member.userId)" aria-hidden="true">&times;</span>
                </span>
            </div>
        </div>
        <div class="">
            <ul class="ss" *ngFor="let user of users">
                <li (click)="selectedMember(user)" class="dropdown-item select-member">{{user.firstName}}&nbsp;{{user.lastName}}</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="addMember()" class="btn btn-warning"> Add</button>
    </div>
</ng-template>

