<div class="container">
    <nav>
        <div>
            <h4 *ngIf="hasChatRoom">{{this.roomNewName}}</h4>
            <div class="sdsfdsfs" *ngFor="let member of roomMembers">
                {{member.member}} &nbsp; 
                <span class="remove" (click)="removeMember(member.thread, member.member_id)" aria-hidden="true">&times;</span>
            </div>
        </div>
        <button *ngIf="hasChatRoom" (click)="addMemberModal(AddThreadMember)" class="btn purple white-font add-member">Add Member</button>
    </nav>
    <div #autoScrollBody class="message-body">
        <div *ngIf="hasMessages && hasChatRoom">
            <ul class="sentMessage" *ngFor="let message of messages">
                <li [ngClass]="{'authUser': message?.isAuthUser, 'notAuthUser': !message?.isAuthUser}">
                    <span class="message">{{ message?.message }}</span>
                    <div [ngClass]="{'authMsgDropdown': message?.isAuthUser, 'msgDropdown': !message?.isAuthUser}" class="dropright">
                        <button class="msgBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                        </button>
                        <div *ngIf="message?.isAuthUser" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a (click)="deleteMessage(DeleteMessage, message?.message_id)" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                    <span [ngClass]="{'dateAligned': !message?.isAuthUser}" class="message-date">{{message?.date_created}}</span>
                </li>
            </ul>
        </div>
        <div class="noMessage" *ngIf="!hasMessages && hasChatRoom">
            <span>You can now start your conversation</span>
        </div>
        <div class="noChatRoom" *ngIf="!hasChatRoom">
            <span>You can now create chat room or converse with one of your peers in Contacts</span>
        </div>
    </div>
    <div class="message-form">
        <form [formGroup]="messageForm" #messageArea class="form">
            <textarea (keyup)="autoGrow()" #textArea formControlName="content" type="text" placeholder="Enter message..."></textarea>
            <input (click)="onSubmit()" class="create-room btn purple white-font" type="button" value="Send" [disabled]="!hasChatRoom"/>
        </form>
    </div>
</div>

<ng-template #AddThreadMember>
    <div class="modal-header">
        <h4>Add Member</h4>
        <button (click)="closeMemberModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="members">
            <div *ngFor="let member of addedMembers"  class="select">
                <span class="selectedAddedMember">
                    {{member.firstName}}&nbsp;{{member.lastName}}
                    <span class="remove" (click)="removeAddedMember(member.id)" aria-hidden="true">&times;</span>
                </span>
            </div>
        </div>
        <div class="">
            <ul class="ss" *ngFor="let user of users">
                <li (click)="selectedMember(user)" class="dropdown-item select-member">{{user.firstName}}&nbsp;{{user.lastName}}</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="addMember(AddSuccess)" class="btn btn-warning"> Add</button>
        <button (click)="closeMemberModal()" class="btn btn-secondary">Cancel</button>
    </div>
</ng-template>

<ng-template #AddSuccess>
    <div class="sucess-header modal-header">
        <button (click)="closeAddSuccessModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="success-body modal-body">
        <p>Member Added!</p>
    </div>
</ng-template>

<ng-template #DeleteMessage>
    <div class="delete-body modal-body">
        <p>Are you sure you want to delete this Message?</p>
    </div>
    <div class="delete-footer modal-footer">
        <button (click)="deleteUserMessage(DeleteSucess)" class="btn btn-danger">Delete</button>
        <button (click)="closeDeleteModal()" class="btn btn-secondary">Cancel</button>
    </div>
</ng-template>

<ng-template #DeleteSucess>
    <div class="sucess-header modal-header">
        <button (click)="closeDeleteSuccessModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="success-body modal-body">
        <p>Message was successfully deleted!</p>
    </div>
</ng-template>
