{% load static %}
<html>
	<head>
		<title>OrderTango</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
  		<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
		<link rel="icon" href="{% static 'images/OT_Logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/new/header.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/new/chromeIE.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/new/mediaQuery.css' %}"/>

        <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </head>
	<body>
	<div class="container-fluid removePaddingFromContainerFluidClass">
    <nav class="navbar navbar-expand-lg navbar-light navBgColor">
        <a class="navbar-brand" href="#"><img src="{% static 'images/Logo.png' %}" style="width: 200px; height: 50px"
                                              class="img-responsive"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link navLinkColor" href="{{ip}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinkColor" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinkColor" href="#">Case Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinkColor" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinkColor" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinkColor" href="{{ip}}/subscription">Signup</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link navLinkColor" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <div class="input-group" id="searchBar">
                        <div class="input-group-addon"><i class="fa fa-search fa-1x"></i></div>
                        <input class="form-control borderRadius" placeholder="">
                    </div>
                </li>
            </ul>
        </div>
    </nav>
	</div>
    <div class="modal" id="loader"><!-- Place at bottom of page --></div>
	{% block content%}

	{% endblock %}
<script>

    $(document).ready(function() {

    $(document).on('keypress', '#id_postalCode', function(event) {
    if ((event.which < 48 || event.which > 57)&&(event.which < 65 || event.which > 90)&&(event.which < 97 || event.which > 122)&&(event.which !=32 )) {
    event.preventDefault();
    }
    });

    /* Restrict Copy, paste action in Password fields Start */
    $('#id_password, #id_confirm_password').on("cut copy paste",function(e) {
      e.preventDefault();
    });
    /* Restrict Copy, paste action in Password fields End */
    /* Restrict Space in password field Start */
    $('#id_password').keydown(function(event) {
        var pwd = $(this).val();
        if(event.keyCode == 32 && pwd.length == 0){
            return false;
            alert("Space at the beginning are not allowed in password field");
        }
    });
     $('#id_confirm_password').keydown(function(event) {
        var cpwd = $(this).val();
        var pwd = $('#id_password').val();
        if(event.keyCode == 32 && cpwd.length == 0){
            return false;
            alert("Space at the beginning are not allowed in confirm password field");
        }
        if(pwd.length > 0 && pwd.slice(-1) == " "){
            return false;
            alert("Space at the end are not allowed in password field");
        }
    });

       /*Restrict Space in password field End
    /* Number Only allow in textbox start */
    $('.number').on('input', function (event) {
       this.value = this.value.replace(/[^0-9]/g, '');
    });
    /* Number Only allow in textbox End */
    /* Maximum Length characters set from model only allow in all field for mobile and tablet Start */
    $('input').on('input', function (event) {
      var id = $(this).attr('id');
      var maxlength = document.getElementById(id).maxLength;
      if (this.value.length > maxlength)
        this.value = this.value.slice(0,maxlength);
    });
    /* Maximum Length characters set from model only allow in all field for mobile and tablet End */



    window.scrollTo(0,0);
    window.document.body.scrollTop++;
});

</script>


	</body>
</html>