	{% load static %}
		<div class="col-md-2 " id="sideBarOrderMgmt">
            <div class="mini-submenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div class="list-group">

                  <a href="#" class="list-group-item list-group-itemnew" id="userAccountMenu">
                     My Account
                </a>
                <a href="#" class="list-group-item list-group-itemnew" id="userHomeMenu">
                     Home
                </a>

                  <div class="list-group panel" id="onboardDropDown">
                    <ul class="tree-container">
                        <li class="tree-li diactive">
                        <span class="text"><a href="#demo3" class="list-group-item list-group-itemnew list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Order Mgmt<i class="fa fa-caret-down"></i></a></span>
                        <ul class="tree-ul tree-ulnew diactive">
                            <li class="tree-li diactive">
                            <span class="text onBoardSpan" id="customer_OnBoard">Order</span>
                        </li>
                        <li class="tree-li">
                            <span class="text onBoardSpan" id="supplier_OnBoard">View Confirm Orders</span>
                        </li>
                        <li class="tree-li">
                            <span class="text onBoardSpan" id="product_OnBoard">Reportd</span>
                        </li>

                        </ul>
                        </li>
                        </ul>
                  </div>
                <div class="list-group panel" id="onboardDropDown">
                    <ul class="tree-container">
                        <li class="tree-li diactive">
                        <span class="text"><a href="#demo3" class="list-group-item list-group-itemnew list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Inventory Mgmt<i class="fa fa-caret-down"></i></a></span>
                        <ul class="tree-ul tree-ulnew diactive">
                            <li class="tree-li diactive">
                            <span class="text onBoardSpan" id="customer_OnBoard">View Stocks</span>
                        </li>
                        <li class="tree-li">
                            <span class="text onBoardSpan" id="supplier_OnBoard">Update Stocks</span>
                        </li>
                        <li class="tree-li">
                            <span class="text onBoardSpan" id="product_OnBoard">Stock Counts</span>
                        </li>
                        <li class="tree-li">
                            <span class="text onBoardSpan" id="product_OnBoard">Transfer Stocks</span>
                        </li>
                         <li class="tree-li">
                            <span class="text onBoardSpan" id="product_OnBoard">Record Wastage</span>
                        </li>
                        </ul>
                        </li>
                        </ul>
                  </div>
                <a href="#" class="list-group-item list-group-itemnew" id="userAccessMenu">
                     Good Receipts
                </a>

                <a href="#" class="list-group-item list-group-itemnew">
                    Permission & Settings
                </a>
            </div>
    </div>