<style>
    .navClass {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px
    }
    .panelBody {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 15px
    }
    .panel {
        margin-bottom: 5px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .panel-default {
        border-color: #ddd
    }
    .panel-default > .panel-heading {
        color: red;
        background-color: #f1f2f4;
        border-color: #ddd;
    }
    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .panel-body {
        padding: 15px
    }
    .formClass {
        padding: 5px 5px 5px 5px;
        margin-bottom: 0px
    }
    .readonlyClass {
        background-color: #f5f5f5;
        opacity: 1
    }
    #samplePopupBodyContent {
        overflow-y: scroll;
        max-height: 400px !important
    }
    .marginAlignClass {
        margin-left: 10px;
        margin-right: 10px
    }
    .rowForm {
        flex-wrap: nowrap !important
    }
    .userAddWRBtn {
        margin-left: 5px
    }
</style>
{% if message %}
<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">{{ message }}</div>
</div>
{% endif %}
{% if type == 'product' %}
    <div class="panelBody">
            {% for row in alreadyExistData %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ row.error }}</div>
                    <div class="panel-body">
                        <form class="formClass">
                                  <div class='form-row rowForm'>
                                    <div class='col-md-6 paddingTen row marginAlignClass'>
                                      <label class="col-md-5"> Item Code </label>
                                       <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.itemCode }}'>
                                       </div>
                                    </div>
                                    <div class='col-md-6 paddingTen row marginAlignClass'>
                                      <label class="col-md-5"> Item Name </label>
                                       <div class="col-md-7">
                                        <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.itemName }}'>
                                       </div>
                                    </div>
                                  </div>
                            </form>
                    </div>
                </div>
            {% endfor %}
    </div>
{% else %}
    {% if data|length > 0 and alreadyExistData|length > 0 %}
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item navClass">
        <a class="nav-link active" href="#matchedDataDiv" role="tab" data-toggle="tab">Matched Data</a>
      </li>
      <li class="nav-item navClass">
        <a class="nav-link" href="#existsDataDiv" role="tab" data-toggle="tab">Upload Report</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade active show" id="matchedDataDiv">
          <div class="panelBody">
              <div class="accordion" id="accordianContent">
                {% if data|length > 0 %}
                  {% for i in data %}
                      {% with forloop.counter as count %}
                          <div class='accordion-group' id='accordianGroup{{ count }}'>
                            <div class='accordion-heading'>
                                <a class='accordion-toggle' id='accordianGroupToggle{{ count }}' data-toggle='collapse' href="#accordianGroupContent{{ count }}"> Matched Row {{ count }}</a>
                            </div>
                            <div id="accordianGroupContent{{ count }}" class='accordion-body collapse'>
                                <div class='accordion-inner'>
                                  <form>
                                      <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Email Address </label>
                                           <div class="col-md-7">
                                                <input type='text' class='form-control readonlyClass' readonly  value='{{ i.currentData.email }}'>
                                           </div>
                                        </div>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Contact No </label>
                                           <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ i.currentData.contactNo }}'>
                                           </div>
                                        </div>
                                      </div>
                                    <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Company Name </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ i.currentData.companyName }}'>
                                          </div>
                                          </div>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5 labelClass"> State </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass fieldClass' readonly  value='{{ i.currentData.state }}'>
                                          </div>
                                        </div>
                                    </div>
                                    <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Country </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ i.currentData.country }}'>
                                          </div>
                                        </div>
                                    </div>
                                </form>
                                  <table class='table table-bordered col-md-12'>
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Email Address</th>
                                                <th>Contact No</th>
                                                <th>Company Name</th>
                                                <th>State</th>
                                                <th>Country</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for datas in i.matchedData %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ datas.email }}</td>
                                                    <td>{{ datas.contactNo }}</td>
                                                    <td>{{ datas.companyName }}</td>
                                                    <td>{{ datas.state__name }}</td>
                                                    <td>{{ datas.country__name }}</td>
                                                    <td><button type='button' class='btn btn-sm userAddBtn' id='{{ datas.email }}_{{ type }}_0_{{ count }}'>Add</button><button type='button' class='btn btn-sm userAddBtn userAddWRBtn' id='{{ datas.email }}_{{ type }}_1_{{ count }}'>Add with Request</button></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                  </table>
                                </div>
                            </div>
                          </div>
                      {% endwith %}
                  {% endfor %}
                {% endif %}
              </div>
          </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="existsDataDiv">
                <div class="panelBody">
                    {% for row in alreadyExistData %}
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ row.error }}</div>
                            <div class="panel-body">
                                <form class="formClass">
                                      <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Email Address </label>
                                           <div class="col-md-7">
                                                <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.email }}'>
                                           </div>
                                        </div>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Contact No </label>
                                           <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.contactNo }}'>
                                           </div>
                                        </div>
                                      </div>
                                    <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Company Name </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.companyName }}'>
                                          </div>
                                          </div>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5 labelClass"> State </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass fieldClass' readonly  value='{{ row.currentData.state }}'>
                                          </div>
                                        </div>
                                    </div>
                                    <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Country </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.country }}'>
                                          </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
      </div>
    </div>
    {% elif data|length > 0 %}
        <div class="accordion" id="accordianContent">
              {% for i in data %}
                  {% with forloop.counter as count %}
                      <div class='accordion-group' id='accordianGroup{{ count }}'>
                        <div class='accordion-heading'>
                            <a class='accordion-toggle' id='accordianGroupToggle{{ count }}' data-toggle='collapse' href="#accordianGroupContent{{ count }}"> Matched Row {{ count }}</a>
                        </div>
                          <div id="accordianGroupContent{{ count }}" class='accordion-body collapse'>
                            <div class='accordion-inner'>
                              <form>
                                      <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Email Address </label>
                                           <div class="col-md-7">
                                                <input type='text' class='form-control readonlyClass' readonly  value='{{ i.currentData.email }}'>
                                           </div>
                                        </div>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Contact No </label>
                                           <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ i.currentData.contactNo }}'>
                                           </div>
                                        </div>
                                      </div>
                                    <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Company Name </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ i.currentData.companyName }}'>
                                          </div>
                                          </div>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5 labelClass"> State </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass fieldClass' readonly  value='{{ i.currentData.state }}'>
                                          </div>
                                        </div>
                                    </div>
                                    <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Country </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ i.currentData.country }}'>
                                          </div>
                                        </div>
                                    </div>
                               </form>
                              <table class='table table-bordered col-md-12'>
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Email Address</th>
                                            <th>Contact No</th>
                                            <th>Company Name</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for datas in i.matchedData %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ datas.email }}</td>
                                                <td>{{ datas.contactNo }}</td>
                                                <td>{{ datas.companyName }}</td>
                                                <td>{{ datas.state__name }}</td>
                                                <td>{{ datas.country__name }}</td>
                                                <td><button type='button' class='btn btn-sm userAddBtn' id='{{ datas.email }}_{{ type }}_0_{{ count }}'>Add</button><button type='button' class='btn btn-sm userAddBtn userAddWRBtn' id='{{ datas.email }}_{{ type }}_1_{{ count }}'>Add with Request</button></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                              </table>
                            </div>
                        </div>
                      </div>
                  {% endwith %}
              {% endfor %}
        </div>
    {% elif alreadyExistData|length > 0 %}
         <div class="panelBody">
                {% for row in alreadyExistData %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ row.error }}</div>
                        <div class="panel-body">
                            <form class="formClass">
                                      <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Email Address </label>
                                           <div class="col-md-7">
                                                <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.email }}'>
                                           </div>
                                        </div>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Contact No </label>
                                           <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.contactNo }}'>
                                           </div>
                                        </div>
                                      </div>
                                    <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Company Name </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.companyName }}'>
                                          </div>
                                          </div>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5 labelClass"> State </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass fieldClass' readonly  value='{{ row.currentData.state }}'>
                                          </div>
                                        </div>
                                    </div>
                                    <div class='form-row rowForm'>
                                        <div class='col-md-6 paddingTen row marginAlignClass'>
                                          <label class="col-md-5"> Country </label>
                                          <div class="col-md-7">
                                            <input type='text' class='form-control readonlyClass' readonly  value='{{ row.currentData.country }}'>
                                          </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                {% endfor %}
         </div>
    {% endif %}
{% endif %}