{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
/* Hide Language Icon Start */
#languageIconRow {
    display: none
}
/* Hide Language Icon End */
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/new/forgetpassword.css' %}"/>
<div class="row" id="languageIconRow">
    <div class="col text-center">
        <ul class="nav justify-content-center" id="languageRowIcon">
            <li class="active">
                <img class="img-responsive languageIconClass" id="englishIcon"
                    src="{% static 'images/landingpage/english.png' %}" alt="English"/>
            </li>
            <li>
                <img class="img-responsive languageIconClass" id="hindiIcon"
                     src="{% static 'images/landingpage/hindi.png' %}" alt="Hindi"/>
            </li>
            <li>
                <img class="img-responsive languageIconClass" id="bahasaIcon"
                     src="{% static 'images/landingpage/bahasa.png' %}" alt="Bahasa"/>
            </li>
            <li>
                <img class="img-responsive languageIconClass" id="tamilIcon"
                     src="{% static 'images/landingpage/tamil.png' %}" alt="Tamil"/>
            </li>
        </ul>
    </div>
</div>

    <div class="row" id="guideRowLogin">
        <div class="offset-1 col-11 offset-sm-1 col-sm-11 offset-md-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading offset-1 col-10 offset-sm-3 col-sm-9 offset-md-3 col-md-6"> <img class="img-responsive" src="{% static 'images/register/Logo.png' %}" id="otloginlogo"/> </div><br/>
             <form class="registrationform" role="form" action='/forgetpassword/' method='POST' autocomplete="off">
                 {% csrf_token %}

<div class="row error justify-content-center defaultMarginTopTen">
    {% if messages %}<ul>{% for message in messages %}  <li id="testhere">{{ message }}</li> {% endfor %}</ul>{%endif%}
                 </div>
                 
                 {% for field1 in form1 %}
                 <div class="form-group loginfield">
                     <label class="col-4 offset-sm-1 col-sm-5 offset-md-1 col-md-4 col-form-label firstnamelabel" for="{{ field1.label }}">
                         {{field1.label_tag }}</label>
                     {{ field1 }} {{ field1.errors }}
                 </div>
                 {% endfor %}
                      <div class="row">
                         <div class="offset-3 col-6 offset-sm-2 col-sm-6 offset-md-3 col-md-6">
                             <input type="submit" class="img-responsive" id="submitbutton" value=""><br/>
                         </div>
                     </div>
             </form>
        </div>
        </div>
    </div>
<footer class="footer_fgpassword">
</footer>
<script>
    if($('#testhere').html()){
        $('.loginfield').hide();
        $('#submitbutton').hide();
    }
    else{
        $('.loginfield').show();
        $('#submitbutton').show();

    }
  $(function() {
        $('ul#languageRowIcon li').on( 'click', function() {
              $( this ).parent().find( 'li.active' ).removeClass( 'active' );
              $( this ).addClass( 'active' );
        });
        document.getElementById("id_email").focus();
  });
</script>
{% endblock %}