{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
/* Hide Language Icon Start */
#languageIconRow {
    display: none
}
/* Hide Language Icon End */
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/new/landingpage.css' %}"/>
<div class="row" id="GuideOnRow">
  <div class="col-12 col-md-3" class="paddingLeftZero">
      <img class="img-responsive" id="guideOnImage" src="{% static 'images/landingpage/guideOn.png' %}" alt="guideOn" />
  </div>
  <div class="col-12 col-md-9" id="guideSteps" class="paddingLeftZero">
      <img class="img-responsive" id="orderTangoAccount" src="{% static 'images/landingpage/ordertangoAccount.png' %}" alt="orderTangoAccount" /> <br/>
      <p class="paragraphClass"> <strong>2 Steps</strong> to create an OrderTango<sup>TM</sup> account. </p>
      <p class="paragraphClass"> <strong>20 minutes</strong> to on board and start using OrderTango<sup>TM</sup> </p>
      <p class="paragraphClass"> <strong>Simple registration & Onboard</strong> </p>
      <p class="paragraphClass"> <sup>*</sup>Instruction can be read by clicking "Learn More" and viewing "How to" videos </p>
  </div>
</div>
<div class="row" id="languageIconRow">
  <div class="col text-center">
    <ul class="nav justify-content-center" id="languageRowIcon">
      <li class="active">
        <img class="img-responsive languageIconClass" id="englishIcon" src="{% static 'images/landingpage/english.png' %}" alt="English" />
      </li>
      <li>
        <img class="img-responsive languageIconClass" id="hindiIcon" src="{% static 'images/landingpage/hindi.png' %}" alt="Hindi" />
      </li>
      <li>
        <img class="img-responsive languageIconClass" id="bahasaIcon" src="{% static 'images/landingpage/bahasa.png' %}" alt="Bahasa" />
      </li>
      <li>
        <img class="img-responsive languageIconClass" id="tamilIcon" src="{% static 'images/landingpage/tamil.png' %}" alt="Tamil" />
      </li>
    </ul>
  </div>
</div>
<div class="row" id="guideRow">
  <div class="col-md-1">
  </div>
  <div class="col-12 col-md-3" id="readyToRegisterId">
    <img class="img-responsive guideImages" src="{% static 'images/landingpage/readytoregister.png' %}" /> <br />
    <div class="learnMoreDiv"> <img class="img-responsive" src="{% static 'images/landingpage/learnMore.png' %}" id="reg_learnMore" /> <img class="img-responsive" src="../static/images/landingpage/watchVideo.png" class="guideBtnClass" id="reg_watchVideo"  /> </div>
  </div>
  <div class="col-12 col-md-3" id="validateId">
    <img class="img-responsive guideImages" src="../static/images/landingpage/validate.png" /> <br />
    <div class="learnMoreDiv"> <img class="img-responsive" src="{% static 'images/landingpage/learnMore.png' %}" id="val_learnMore" /> <img class="img-responsive" src="../static/images/landingpage/watchVideo.png" id="val_watchVideo" /> </div>
  </div>
  <div class="col-12 col-md-3" id="onBoardId">
    <img class="img-responsive guideImages" src="../static/images/landingpage/OnBoard.png" /> <br />
    <div class="learnMoreDiv"> <img class="img-responsive" src="{% static 'images/landingpage/learnMore.png' %}" id="onb_learnMore" /> <img class="img-responsive" src="../static/images/landingpage/watchVideo.png" id="onb_watchVideo" /> </div>
  </div>
</div>
<div class="row" id="unLockRow">
  <div class="col text-center">
    <img class="img-responsive" src="{% static 'images/landingpage/unlockIcon.png' %}" id="unLockIcon" />
  </div>
</div>

<footer class="footer">

</footer>
<script>
  $(function() {
        $('ul#languageRowIcon li').on( 'click', function() {
              $( this ).parent().find( 'li.active' ).removeClass( 'active' );
              $( this ).addClass( 'active' );
        });
  });
</script>
{% endblock %}