{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
/* Hide Language Icon Start */
#languageIconRow {
    display: none
}
/* Hide Language Icon End */
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/new/login.css' %}"/>
<div class="row" id="languageIconRow">
    <div class="col text-center">
        <ul class="nav justify-content-center" id="languageRowIcon">
            <li class="active">
                <img class="img-responsive languageIconClass" id="englishIcon"
                    src="{% static 'images/landingpage/english.png' %}" alt="English"/>
            </li>
            <li>
                <img class="img-responsive languageIconClass" id="hindiIcon"
                     src="{% static 'images/landingpage/hindi.png' %}" alt="Hindi"/>
            </li>
            <li>
                <img class="img-responsive languageIconClass" id="bahasaIcon"
                     src="{% static 'images/landingpage/bahasa.png' %}" alt="Bahasa"/>
            </li>
            <li>
                <img class="img-responsive languageIconClass" id="tamilIcon"
                     src="{% static 'images/landingpage/tamil.png' %}" alt="Tamil"/>
            </li>
        </ul>
    </div>
</div>

    <div class="row" id="guideRowLogin">
        <div class="offset-1 col-11 offset-sm-1 col-sm-11 offset-md-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading offset-1 col-10 offset-sm-3 col-sm-9 offset-md-3 col-md-6"> <img class="img-responsive" src="{% static 'images/register/Logo.png' %}" id="otloginlogo"/> </div><br/>
             <form class="registrationform" role="form" action='/login/' method='POST' autocomplete="off">
                <div class="row error justify-content-center defaultMarginTopTen">
                    {% if messages %}<ul>{% for message in messages %}<li> {{ message }} </li> {% endfor %}</ul>{%endif%}
                 </div>
                 {% csrf_token %}
             <div class="form-group loginfield">
                <label class="col-4 offset-sm-1 col-sm-5 offset-md-1 col-md-4 col-form-label firstnamelabel" for="{{ form1.email.label }}">
                    {{form1.email.label_tag }}</label>
                {{ form1.email }} {% if emailError != "" %}<ul class="errorlist"><li>{{ emailError }}</li></ul>{%endif%}
            </div>
            <div class="form-group loginfield">
                <label class="col-4 offset-sm-1 col-sm-5 offset-md-1 col-md-4 col-form-label firstnamelabel" for="{{ form1.password.label }}">
                    {{form1.password.label_tag }}</label>
                {{ form1.password }} {% if passError != "" %}<ul class="errorlist"><li>{{ passError }}</li></ul>{%endif%}
            </div>
                 <div class="form-group loginfield">
                    <label class="col-12 offset-sm-1 col-sm-11 offset-md-1 col-md-11 col-form-label checkbox">
                    <input type="checkbox" value="remember-me" id="remember_me"> Remember me
                    </label>
                 </div>
                 <div class="row">
                    <div class="offset-3 col-6 offset-sm-2 col-sm-6 offset-md-3 col-md-6">
                        <input type="submit" id="loginbutton" value=""><br/>
                    </div>
                </div>
                 <div class="row" id="forgotPasswordIcon">
                     <div class="offset-6 col-6 offset-sm-8 col-sm-4 offset-md-8 col-md-4 pull-right">
                        <a id="forgetpassword" href="/forgetpassword"><b>Forgot Password?</b></a>
                     </div>
                </div>
             </form>
        </div>
        </div>
    </div>



<footer class="footer_login">

</footer>
<script>
  $(function() {
        $('ul#languageRowIcon li').on( 'click', function() {
              $( this ).parent().find( 'li.active' ).removeClass( 'active' );
              $( this ).addClass( 'active' );
        });

        document.getElementById("id_email").focus();

        /* Remember me Functionality Start */

        $('#id_email').on('change', function() {
            setFormValueInLocalStorage();
        });
        $('#id_password').on('change', function() {
            setFormValueInLocalStorage();
        });

        function setFormValueInLocalStorage() {
            if ($('#id_email').val() != '' && $('#id_password').val() != '') {
                localStorage.email = $('#id_email').val();
                localStorage.password = $('#id_password').val();
            }
        }

        if (localStorage.checkbox && localStorage.checkbox != '') {
            $('#remember_me').attr('checked', 'checked');
            $('#id_email').val(localStorage.email);
            $('#id_password').val(localStorage.password);
        }

        $('#remember_me').click(function() {
            if ($('#remember_me').is(':checked')) {
                // save username and password
                localStorage.email = $('#id_email').val();
                localStorage.password = $('#id_password').val();
                localStorage.checkbox = $('#remember_me').val();
            } else {
                localStorage.email = '';
                localStorage.password = '';
                localStorage.checkbox = '';
            }
        });
        /* Remember me Functionality End */

        if('{{ form1.email.errors }}' != ''){
            document.getElementById("id_email").focus();
        }
        else if('{{ form1.password.errors }}' != ''){
            document.getElementById("id_password").focus();
        }
        else{
            document.getElementById("id_email").focus();
        }
  });


</script>
{% endblock %}