{% extends 'administrationpanelbase.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/viewall.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/manualUploadForm.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/responsive.bootstrap4.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/additionalStyle.css' %}"/>

<script type="text/javascript" src="{% static 'datatables/js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/js/dataTables.responsive.min.js' %}"></script>
<script src ="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<style>

    .table td, .table th{
        border-top: none;
    }
    .card-default{
        box-shadow: 0 14px 36px 0px rgba(0,0,0,0.2);
    }
    .cardHoldDiv{
        padding-top: 2%;
        padding-bottom: 20%;
    }
    #accountInfoDiv {
        font-weight: bold;
        padding: 5px 10px 5px 10px;
        border: 1px solid #f9f3fa;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 25px;
    }
    #accountInfoAnchor{
        color: #881999 !important;
        text-decoration: none;
    }
    #stripe-button{
        background: #ffd500;
        color: #881999;
        font-weight: bold;
        border: 2px solid #881999;
        border-radius: 4px;
    }

</style>
<div class="row headColor">
  <div class="col-md-2 col-sm-4 col-24" id="sideBarLeft">
        {% include "administrationpanelsidebar.html" %}
  </div>
  <div class="col-md-10 paddingLeftZero" id="bodyContent">

        <div class="row">
            <div class="col-md-3 col-sm-3 col-6 navHeading" id="accountInfoDiv">
                <a href="#" class=" " id="accountInfoAnchor">Upgrade Module</a>
            </div>
        </div>

      <div class="row navHeading">
    	<div class="col-md-12 cardHoldDiv">
    		<div class="card card-default navHeading">

    			<div class="card-body">
    				<div class="table-responsive">
    					<table class="table ">
    						<thead>

    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->

                            {% for i in moduleData %}
                            {% for k,v in i.items %}

                                <tr>
    								<td>{{ k }}</td>
    								<td class="text-right">{{ v }} {{unit}}</td>
    							</tr>
                            {% endfor %}
                            {% endfor %}
                                <tr>
    								<td><b>Total</b></td>
    								<td class="text-right"><b>{{ sumofprice }} {{unit}}</b></td>
    							</tr>

    						</tbody>
    					</table>

                        <form id="myForm" action="{% url 'addOnModulesSave' %}" method="POST" autocomplete="off">
                            {% csrf_token %}
                            <input type="hidden" id="stripeToken" name="stripeToken"/>
                            <input type="hidden" id="stripeEmail" name="stripeEmail"/>
                            <button id="stripe-button">Checkout</button>
                        </form>

    				</div>
    			</div>
    		</div>
    	</div>
    </div>

  </div>
  {% include "rightsidebar.html" %}
<div class="overlay"></div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="exampleModalLongTitle">Change Domain Name</h5>
               <span id="modalCloseBtn">

              </span>
          </div>
           <div class="modal-body">
              <div id="success_msg" class="success_msg"> </div>
              <div id="error_msg" class="error_msg"> </div>
                <form role="form" autocomplete="off">
                    {% csrf_token %}
                    <div id="modalBody">

                    </div>
                </form>
          </div>
          <div class="modal-footer " id="modalFooter">

          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="sampleModalPopup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="sampleModalPopupTitle" data-toggle="modal" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered sampleModalPopup" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="exampleModalTitle"></h5>
            <button type="button" class="close" id="popupCloseBtn" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="samplePopupBodyContent">

          </div>
          <div class="modal-footer">
                <input type="button" id="submit" class="btn btn-primary modalBtnClass" data-dismiss="modal" aria-label="Close" value="Close">
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="testsample"><!-- Place at bottom of page --></div>

<div id="imageModel" class="modal" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4>Image upload</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">

         <form id="updateLogo"  method="post" enctype="multipart/form-data" autocomplete="off">
             {% csrf_token %}

         <input type="file" name="fileuploaddata" value="fileupload" id="fileuploaddata">
             <p style="font-size:13px;">allowed only Jpg,png formats below 5MB</p>
         <input type="text" name="" value="" id="idContainer">


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="uploadImageSubmit" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>
<!-- The Modal -->




<div class="modal" id="viewProfileModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog viewProfileModal" style="max-width: 60%;">
    <div class="modal-content" style="background-color: #f7f3fa;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="viewProfileModalTitle"> Profile </h4>
        <button type="button" class="close viewProfileModalClose" data-dismiss="modal" aria-hidden="true">x</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="profileModalBody">
        <div class="row" >
            <div class="col-md-12 col-sm-3 col-6 " >
                <div class="col-md-12" id="viewProfileModalFormDiv">
                    <form class="registrationform" id="updateProfileForm" role="form" method='POST' autocomplete="off">

                        {% csrf_token %}
                        <input type="text" id="hide" style="display:none" value="">
                        <div id="formsec1">
                          <div class="form-group row registrationformdiv hide">
                              <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.firstName.label_tag }}<span class="mandatory">*</span></label>
                            {{ profileForm.firstName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="firstNameError">{{ profileForm.firstName.errors }}</div>
                          <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.lastName.label_tag }}<span class="mandatory">*</span></label>
                             {{ profileForm.lastName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="lastNameError">{{ profileForm.lastName.errors }} </div>
                        <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.contactNo.label_tag }}<span class="mandatory">*</span></label>
                             {{profileForm.countryCode}}{{ profileForm.contactNo }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="contactNoError">{{ profileForm.contactNo.errors }} </div>
                        <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.email.label_tag }}<span class="mandatory">*</span></label>
                             {{ profileForm.email }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="emailError">{{ profileForm.email.errors }} </div>

                        </div>
                        <div id="formsec2">
                            <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.companyName.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.companyName }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="companyNameError"> {{ companyProfileForm.companyName.errors }} </div>


                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.country.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.country }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="countryError"> {{ companyProfileForm.country.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line1.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line1 }}
                            <label class="col-5 col-md-1 col-form-label unitlabel" id="unitlabel">Unit<span class="mandatory">*</span></label>
                             {{ companyProfileForm.unit1 }}
                            <p id="hyphen">-</p>
                            {{ companyProfileForm.unit2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address1Error"> {{ companyProfileForm.address_Line1.errors }} </div>
                          <div class="form-group row registrationformdiv" id="addressTwoDiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line2.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address2Error"> {{ companyProfileForm.address_Line2.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.state.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.state }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="stateError"> {{ companyProfileForm.state.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.postalCode.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.postalCode }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="postalCodeError"> {{ companyProfileForm.postalCode.errors }} </div>
                            <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.sec_question.label_tag }}<span class="mandatory">*</span></label>
                            {{ profileForm.sec_question }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3 hide" id="secQuestionError"> {{ profileForm.sec_question.errors }} </div>
                            <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.sec_answer.label_tag }}<span class="mandatory">*</span></label>
                            {{ profileForm.sec_answer }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3 hide" id="secAnswerError"> {{ profileForm.sec_answer.errors }} </div>
                            <div class="col-12 offset-sm-4 col-md-6" id="submitBtnDiv">  <input type="submit" class="profileUpdateButtonClass" id="profileUpdateButton" value="Update"> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn editProductModalClose" id="editProductModalClose" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


 <div class="modal" id="loader"><!-- Place at bottom of page --></div>

 <script src="https://checkout.stripe.com/checkout.js"></script>


<script>

function selectAllModule() {
         if ($('#selectallmodule').prop('checked') == true) {
            $(".selectmodules").prop('checked', true);
         }
         else if ($('#selectallmodule').prop('checked') == false) {
            $(".selectmodules").prop('checked', false);
         }
      }

function selectAllSubusers() {
         if ($('#selectAllSubuser').prop('checked') == true) {
            $(".selectSubusers").prop('checked', true);
         }
         else if ($('#selectAllSubuser').prop('checked') == false) {
            $(".selectSubusers").prop('checked', false);
         }
      }

function load_states(country_id) {
                if(country_id == ''){
                $("#id_cusState").empty().append('<option value="">Select</option>');
                }
                else{
                    $.ajax({
                    url: "/load-states",
                    data: {
                    "country_id": country_id
                    },
                    success: function (data) {
                        var states = JSON.parse(data.states);
                        var stateAppendValues = "";
                        $.each(states, function (key, val) {
                        stateAppendValues = stateAppendValues + "<option value="+val.pk+">"+val.fields.stateName+"</option>";
                        });
                        $("#id_cusState").empty().append(stateAppendValues);
                    }
                    });
                }
           }

           function load_shipping_states(country_id) {
           if(country_id == ''){
                $("#id_cusShipState").empty().append('<option value="">Select</option>');
                }
                else{
                $.ajax({
                    url: "/load-states",
                    data: {
                      "country_id": country_id
                    },
                    success: function (data) {
                      var states = JSON.parse(data.states);
                      var stateAppendValues = "";
                         $.each(states, function (key, val) {
                        stateAppendValues = stateAppendValues + "<option value="+val.pk+">"+val.fields.stateName+"</option>";
                        });
                          $("#id_cusShipState").empty().append(stateAppendValues);
                    }
                });
                }
            }


            $body = $("body");
            $('#iconsec').on('click',function() {
                 $('#fileuploaddata').val(null);
                 $('#imageModel').show();
                    $('#imageModel').modal('toggle');

            });

             $('#profilePicture').on('click',function() {
              $('#fileuploaddata').val(null);
                $('#imageModel').modal('toggle');
                 $('#imageModel').show();

            });

            /* Hide the Onboard DropdownMenu in Sidebar Start */
            $('#onboardDropDown').hide();
            /* Hide the Onboard DropdownMenu in Sidebar End */

            /*$('#iconCompanyLogo').on('click',function() {
                $('#fileuploaddata').val(null);
                $('#idContainer').val('iconCompanyLogo');
                $('#imageModel').modal('toggle');
                $('#imageModel').show();
            });*/

            $('#slide-submenu').on('click',function() {
                $(this).closest('.list-group').fadeOut('slide',function(){
                    $('.mini-submenu').fadeIn();
                });
            });

            $('.moduleData').hide();
            $('#supplierData').show();

        $(document).ready(function() {

        $('#stripe-button').click(function(){
            var token =function(token) {
                    $("#stripeToken").val(token.id);
                    $("#stripeEmail").val(token.email);
                    $("#myForm").submit();
                }
             StripeCheckout.open({ key: '{{ key }}',
              amount: {{ sumoftotalprice }},
              description: 'Checkout',
              panelLabel: 'Checkout',
              token: token });
               return false;
        });

            $(document).on('click', '#companyLogoUpdateBtn', function() {
                var form_data = new FormData();
                var file_data = $('#companyLogo').prop('files')[0];
                 var data = "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"companyLogoPath="+file_data;
                    $.ajax({
                      url: "/logoupdate",
                      type: "POST",
                      dataType: "text",
                      data: data,
                      async:false,
                      success: function (data)
                      {

                      }
                    });
            });

			$('#domainName').val('');

			$('#exampleModalCenter').on('shown.bs.modal', function() {
              $('#domainName').focus();
            });

			$('#popupCloseBtn').on('click', function() {
                $('#domainName').val('');
                $('#successmsg').empty();
                $('#errormsg').empty();
            });

              $('#submit').on('click', function() {
                $('#success_msg').empty();
                $('#error_msg').empty();
                if ($('#domainName').val() != '') {
                    var data = "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"&domainName="+$('#domainName').val();
                    $.ajax({
                      url: "/renameSchemaURL",
                      type: "POST",
                      dataType: "text",
                      data: data,
                      async:false,
                      success: function (result)
                      {
                        var data = JSON.parse(result);
                        if (data.status == 'success') {
                            $('#success_msg').append(data.success_msg);
                            $("#domainName").prop("disabled",true);
                            $("#submit").prop("disabled",true);
                            setTimeout(function() {
                                $('#success_msg').empty();
                                window.location.href = data.redirect_url;
                            }, 3000);
                        }
                        else if (data.status == 'error' && data.error_msg == 'sessionexpired') {
                            $('#domainName').val('');
                            $('#error_msg').append('Session expired.');
                            $("#domainName").prop("disabled",true);
                            $("#submit").prop("disabled",true);
                            setTimeout(function() {
                                window.location.href = data.redirect_url;
                            }, 3000);
                        }
                        else {
                            $('#error_msg').append(data.error_msg);
                        }
                      }
                     });
                }
                else {
                    $('#error_msg').append('Please enter domain name');
                }
            });

            $('.mini-submenu').on('click',function(){
                $(this).next('.list-group').toggle('slide');
                $('.mini-submenu').hide();
            })

            checkTreeCollapse();

            function checkTreeCollapse() {
                $(".tree-container li.tree-li").removeClass("is-child")
                $(".tree-container li.tree-li").each(function () {
                    if ($(this).find("ul.tree-ul li").length > 0) {
                        $(this).addClass("is-child")
                    }
                });
                $(".tree-container li.tree-li span.text").unbind("click");
                $(".tree-container li.tree-li.is-child span.text").click(function () {
                    $(this).parent(".tree-li").toggleClass("diactive");
                    $(this).parent(".tree-li").find(".tree-ul:first").toggleClass("diactive");
                });
            }

            $('.navTabClass').on('click', function() {
                var id = $(this).attr('id');
                $('.navTabClass').removeClass('navHeading');
                $('.navTabClass > a.anchorlink').removeClass('activeNav');
                $('#'+id+'').addClass('navHeading');
                $('#'+id+ '> a').addClass('activeNav');
            });



            function hideShowUploadOption(module) {
                $('.moduleData').hide();
                $('#'+module+'Data').show();
            }

            window.scrollTo(0,0);
            window.document.body.scrollTop++;
    });
</script>
{% endblock %}<!-- templates/home.html -->
