{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new/newpassword.css' %}"/>

<div class="row" id="guideRowLogin">
    <div class="offset-1 col-11 offset-sm-1 col-sm-11 offset-md-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading offset-1 col-10 offset-sm-3 col-sm-9 offset-md-3 col-md-6"><img
                    class="img-responsive" src="{% static 'images/register/Logo.png' %}" id="otloginlogo"/></div>
            <br/>
            <form class="registrationform" role="form" action='/changePassword/' method='POST' autocomplete="off">
                {% csrf_token %}
                {% for field1 in form1 %}
                <div class="form-group ">
                    <label class="col-4 offset-sm-1 col-sm-5 offset-md-1 col-md-5 col-form-label firstnamelabel"
                           for="{{ field1.label }}">
                        {{field1.label_tag }}</label>
                    {{ field1 }} {{ field1.errors }}
                </div>
                {% endfor %}
                <input name="emailId" value="{{ email }}" id="emailId" type="hidden"/>
                <div class="row">
                    <div class="offset-3 col-6 offset-sm-2 col-sm-6 offset-md-3 col-md-6">
                        <input type="submit" id="submitbutton" value=""><br/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<footer class="footer_login">

</footer>
<script>
  $(function() {
        $('ul#languageRowIcon li').on( 'click', function() {
              $( this ).parent().find( 'li.active' ).removeClass( 'active' );
              $( this ).addClass( 'active' );
        });
        document.getElementById("id_password").focus();
  });



</script>
{% endblock %}