{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgetpassword.css' %}"/>
<style>
/* Hide Language Icon Start */
.languageIcons {
    display: none
}
/* Hide Language Icon End */
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="logoLeft">
             <div class="row">
                <div class="col-md-6">
                    <a class="navbar-brand" id="allStartFirstId" href="#"><img class="allstartatfirst"
                                                                                    src="{% static 'images/register/allstartatfirst.png' %}"></a> <br />
                    <span id="guideIconDiv">
                    <a href="#"><img class="registerlearnmore"
                                                                src="{% static 'images/register/learnmore.png' %}"></a>
                        <a href="#" id="watchVideoReg"><img class="registerwatchvideo"
                                                                src="{% static 'images/register/watchvideo.png' %}"></a>
                    </span>
                </div>
                <div class="col-md-6 languageIconRow languageIcons" id="languageIconDiv">
                    <ul class="nav" id="languageIconLeft">
                         <li class="active">
                            <img class="img-responsive languageIconClass" id="englishIcon" src="{% static 'images/landingpage/english.png' %}" alt="English" />
                          </li>
                          <li>
                            <img class="img-responsive languageIconClass" id="hindiIcon" src="{% static 'images/landingpage/hindi.png' %}" alt="Hindi" />
                          </li>
                    </ul>
                </div>
             </div>
        </div>
        <div class="col-md-6 languageIconRow" id="logoRight">
            <div class="col-12 col-md-6">

            </div>
             <div class="col-12 col-sm-12 col-md-6 languageIcons">
                 <ul class="nav" id="languageIconRight">
                     <li>
                        <img class="img-responsive languageIconClass" id="bahasaIcon" src="{% static 'images/landingpage/bahasa.png' %}" alt="English" />
                      </li>
                      <li>
                        <img class="img-responsive languageIconClass" id="tamilIcon" src="{% static 'images/landingpage/tamil.png' %}" alt="Hindi" />
                      </li>
                 </ul>
             </div>
        </div>
    </div>
    <div class="row">
        <div id="bodyleft" class="col-md-6">
            <hr size="20" class="registerhorizontalline">
            <div class="row justify-content-center">
                <p id="congratsHead"><b> Congratulations! </b> </p>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 congratsNotiContent">
                   <b>
                        You have successfully created on OrderTango account. Next will be onboarding and before you start, we highly recommend the instructional video for tips and guides.
                   </b>
                </div>
                <div class="col-md-1"></div>
            </div>
             <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 congratsNotiContent">
                   <b>
                        It will take an estimated 20 minutes for a simple on-boarding but will take a bit more time if you have many data to upload or enter.
                   </b>
                </div>
                <div class="col-md-1"></div>
            </div>
             <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 congratsNotiContent">
                   <b>
                        Once you are ready, click On-Board below!
                   </b>
                </div>
                <div class="col-md-1"></div>
            </div>

                 <form class="onboardform" action="/onboard/" method="POST">
                     {% csrf_token %}
                    <div class="row" id="onBoardDiv">
                     <div class="col-md-10"> <input name="emailId" value="{{ email }}" id="emailId" type="hidden"/>  </div>
                     <div class="col-md-2 pull-right">
                        <input type="submit" id="onboardbutton" value="">
                     </div>
                    </div>
                 </form>


        </div>
        <div id="bodyright" class="col-md-6">
            <div class="row" style="height: 80% !important;">
                <img class="col-12 offset-md-1 offset-lg-1 offset-xl-1 col-md-10 col-lg-10 col-xl-10 img-responsive" id="onBoardImage" style="height:100%" src="{% static 'images/register/allaboard.png' %}">
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6" id="footerRight">
             <div class="valfooter-right">
                <img class="bottomImage img-responsive" src="{% static 'images/register/newfootimg.png' %}">
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
  $(function() {
        $('ul#languageIconLeft li').on( 'click', function() {
              $( this ).parent().find( 'li.active' ).removeClass( 'active' );
              $('ul#languageIconRight li').removeClass( 'active' );
              $( this ).addClass( 'active' );
        });
        $('ul#languageIconRight li').on( 'click', function() {
              $( this ).parent().find( 'li.active' ).removeClass( 'active' );
              $('ul#languageIconLeft li').removeClass( 'active' );
              $( this ).addClass( 'active' );
        });
  });
</script>
{% endblock %}