{% load static %}
<html>
	<head>
		<title>OrderTango</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
  		<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}"/>
		<link rel="icon" href="{% static 'images/OT_Logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/new/header.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/new/chromeIE.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/new/mediaQuery.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/flaticonoperations.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src ="{% static 'js/jquery-ui.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    </head>
    <style>
        .dropdown-item{
            color:#871a99 !important;

        }
        .dropdown-menu{
            background-color: #f7f5f5;
        }
        table.dataTable td {
            word-break: break-word;
        }
        .table td, .table th {
            vertical-align: middle !important;
        }
        .ui-dialog-content{
            color:red !important;
            font-size: 17px;
        }
        .mandatory {
                color: red
        }
        .modalBtnClass, .modalBtnClass:hover {
            background: #ffd500;
            color: #881999;
            font-weight: bold;
            border: 2px solid #881999;
        }
    </style>
	<body>
	<div class="container-fluid removePaddingFromContainerFluidClass">
    <nav class="navbar navbar-expand-lg navbar-light navBgColor">
      <a href="#" class="toggleLeft">
         <img src="{% static 'images/ToggleMenuGray.png' %}" id="toggleMenuId" class="img-responsive" />
      </a>
      <a class="navbar-brand" href="#"><img src="{% static 'images/Logo.png' %}" style="width: 200px; height: 50px"
                                              class="img-responsive"/></a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color:#484847 !important"
                       role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o fa-2x"
                                                                                   aria-hidden="true"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if subUserProfile == "No" %}
                        <a class="dropdown-item" id="profile" href="#">Profile</a>
                        <a class="dropdown-item" href="/resetpassword/">Change Password</a>
                        {% endif %}
                        {% if status == "No" %}
                        <a class="dropdown-item imageUpload" id="changeDomainName" href="#">Change Domain Name</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" class="toggleRight" id="sidebarCollapse">
           <img src="{% static 'images/ToggleMenuGray.png' %}" id="toggleMenuId" class="img-responsive" />
        </a>
    </nav>


    <div class="modal" id="viewProfileModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog viewProfileModal" style="max-width: 60%;">
    <div class="modal-content" style="background-color: #f7f3fa;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="viewProfileModalTitle"> Profile </h4>
        <button type="button" class="close viewProfileModalClose" data-dismiss="modal" aria-hidden="true">x</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="profileModalBody">
        <div class="row" >
            <div class="col-md-12 col-sm-3 col-6 " >
                <div class="col-md-12" id="viewProfileModalFormDiv">
                    <form class="registrationform" id="updateProfileForm" role="form" method='POST'>

                        {% csrf_token %}
                        <div id="formsec1">
                          <div class="form-group row registrationformdiv">
                              <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.firstName.label_tag }}<span class="mandatory">*</span></label>
                            {{ profileForm.firstName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3" id="firstNameError">{{ profileForm.firstName.errors }}</div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.lastName.label_tag }}<span class="mandatory">*</span></label>
                             {{ profileForm.lastName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3" id="lastNameError">{{ profileForm.lastName.errors }} </div>
                        </div>
                        <div id="formsec2">

                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.country.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.country }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="countryError"> {{ companyProfileForm.country.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line1.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line1 }}
                            <label class="col-5 col-md-1 col-form-label unitlabel" id="unitlabel">Unit<span class="mandatory">*</span></label>
                             {{ companyProfileForm.unit1 }}
                            <p id="hyphen">-</p>
                            {{ companyProfileForm.unit2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address1Error"> {{ companyProfileForm.address_Line1.errors }} </div>
                          <div class="form-group row registrationformdiv" id="addressTwoDiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line2.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address2Error"> {{ companyProfileForm.address_Line2.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.state.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.state }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="stateError"> {{ companyProfileForm.state.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.postalCode.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.postalCode }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="postalCodeError"> {{ companyProfileForm.postalCode.errors }} </div>
                            <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.sec_question.label_tag }}<span class="mandatory">*</span></label>
                            {{ profileForm.sec_question }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="secQuestionError"> {{ profileForm.sec_question.errors }} </div>
                            <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.sec_answer.label_tag }}<span class="mandatory">*</span></label>
                            {{ profileForm.sec_answer }}
                            <div class="col-12 offset-sm-4 col-md-6" id="submitBtnDiv">  <input type="submit" id="profileUpdateButton" value="Update"> </div>
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="secAnswerError"> {{ profileForm.sec_answer.errors }} </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn editProductModalClose" id="editProductModalClose" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

	{% block content%}

	{% endblock %}
<script>

function load_states1(country_id) {
                $.ajax({
                    url: "/load-states",
                    data: {
                      "country_id": country_id
                    },
                    success: function (data) {
                      var states = JSON.parse(data.states);
                      console.log(states);
                      var stateAppendValues = "";
                         $.each(states, function (key, val) {
                        stateAppendValues = stateAppendValues + "<option value="+val.pk+">"+val.fields.stateName+"</option>";
                        });
                          $("#state").empty().append(stateAppendValues);
                    }
                });
            }

         $(document).on('click', '#profile', function() {
                $.ajax({
                      url: "/userProfile",
                      type: "POST",
                      dataType : "json",
                      contentType : "application/json",
                      success: function (result)
                      {
                        var data = result;
                        if (data.status == 'success') {
                            userData = data.totalItems[0].totalItem;
                            $.each(userData, function( index, value ) {
                            $.ajax({
                                url: "/load-states",
                                data: {
                                  "country_id": value.country_id
                                },
                                success: function (data) {
                                  var states = JSON.parse(data.states);
                                  var stateAppendValues = "";
                                     $.each(states, function (key, val) {
                                    stateAppendValues = stateAppendValues + "<option value="+val.pk+">"+val.fields.stateName+"</option>";
                                    });
                                      $("#state").append(stateAppendValues);
                                      $('select[name="state"]').find('option[value="'+value.state_id+'"]').attr("selected",true);
                                }
                            });
                            $('#firstName').val(value.firstName);
                            $('#lastName').val(value.lastName);
                            $('select[name="country"]').find('option[value="'+value.country_id+'"]').attr("selected",true);
                            $('#address_Line1').val(value.address_Line1);
                            $('#unit1').val(value.unit1);
                            $('#unit2').val(value.unit2);
                            $('#address_Line2').val(value.address_Line2);
                            $('#postalCode').val(value.postalCode);
                            $('select[name="sec_question"]').find('option[value="'+value.sec_question_id+'"]').attr("selected",true);
                            $('#sec_answer').val(value.sec_answer);
                            });


                            $('#viewProfileModal').show();
                            $('#viewProfileModal').modal('toggle');
                        }
                      }

                });
         });

    $(document).on('keypress', '#domainName', function(event) {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                   event.preventDefault();
                   return false;
                }
            });

    $(document).on('click', '#uploadImageSubmit', function() {
            var form_data = new FormData();
            var file_data = $('#fileuploaddata')[0].files[0];
            var file = document.querySelector("#fileuploaddata");
             if ( /\.(jpe?g|png)$/i.test(file.files[0].name) === false ) {
                  return false;
                  alert("Allowed only jpg,png format");
               }
               else if(file.size >= 5000000){
                  return false;
                  alert("File size exceeds 5 MB");
                }
               else
               {
                if($('#idContainer').val() == 'iconCompanyLogo'){
                form_data.append('myfile', file_data);
                form_data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
                form_data.append('type', "company");
            }
            else{

                form_data.append('myfile', file_data);
                form_data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
                form_data.append('type', "profile");
            }
             $body.addClass("loading");
                $.ajax({
                  url: "/upload_pic",
                  type: "POST",
                  dataType: "json",
                  data: form_data,
                  contentType: false,
                  processData: false,
                  async:false,
                  success: function (result)
                  {
                    $body.removeClass("loading");
                    if (result.status == 'success') {
                        if(result.success_msg == 'company'){
                            alert('Company Logo is changed Successfully');
                        }
                        else{
                            alert('Profile Picture is changed Successfully');
                        }
                        location.reload();

                    }
                  }
                });
                }
            });


         $('#iconsec').on('click',function() {
                 $('#fileuploaddata').val(null);
                 $('#imageModel').show();
                 $('#imageModel').modal('toggle');
           });

           $('.imageUpload').on('click', function() {
                $('#exampleModalLongTitle').empty();
                $('#modalBody').empty();
                $('#modalFooter').empty();
                if ($(this).attr('id') == 'changeDomainName') {

                    var modalBody = "<div class='form-group formGroup'><label for='recipient-name' class='col-form-label fontWeightBold'>New Domain Name:</label><input type='text' class='form-control' name='domainName' id='domainName' maxlength='20' autofocus></div>";
                    var modalFooter = "<input type='button' id='updateDomainName' class='btn btn-primary modalBtnClass' value='Save changes'> <br/> <label class='col-form-label fontWeightBold'>Note : Domain name can be changed only once.Please make sure you are entering the correct domain</label>";
                    appendDynamicContent('Change Domain Name', modalBody, modalFooter);
                }
                else if ($(this).attr('id') == 'iconMF') {
                    var modalBody = "<div class='form-group formGroup'><input type='hidden' name='idContainer' value='iconProfileLogo' id='idContainer'><label for='recipient-name' class='col-form-label fontWeightBold'>Profile Image:</label><input type='file' style='height: 50px' class='form-control' name='fileuploaddata' id='fileuploaddata'><br/><p style='font-size:13px;'>allowed only Jpg,png formats below 5 MB</p></div>";
                    var modalFooter = "<input type='button' class='btn btn-default modalBtnClass' id='uploadImageSubmit' value='Submit' data-dismiss='modal'>";
                    appendDynamicContent('Change Profile Image', modalBody, modalFooter);
                }
                else if ($(this).attr('id') == 'iconCompanyLogo') {
                    var modalBody = "<div class='form-group formGroup'><input type='hidden' name='idContainer' value='iconCompanyLogo' id='idContainer'><label for='recipient-name' class='col-form-label fontWeightBold'>Company Logo:</label><input type='file' style='height: 50px' class='form-control' name='fileuploaddata' id='fileuploaddata'><br/><p style='font-size:13px;'>allowed only Jpg,png formats below 5 MB</p></div>";
                    var modalFooter = "<input type='button' class='btn btn-default modalBtnClass' id='uploadImageSubmit' value='Submit' data-dismiss='modal'>";
                    appendDynamicContent('Change Company Logo', modalBody, modalFooter);
                }
            });


         function appendDynamicContent(modalHead, modalBody, modalFooter) {
                $('#error_msg').empty();
                $('#exampleModalLongTitle').append(modalHead);
                $('#modalCloseBtn').empty();
                if(modalHead != 'Change Domain Name'){
                    $('#modalCloseBtn').append("<button type='button' class='close' id='popupCloseBtn' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>x</span></button>");
                }
                $('#modalBody').append(modalBody);
                $('#modalFooter').append(modalFooter);
                $('#exampleModalCenter').modal({backdrop: 'static', keyboard: false})
                $('#exampleModalCenter').modal('toggle');
                $('#exampleModalCenter').show();
         }

            $(document).on('click', '#profileUpdateButton', function() {
                     var firstName = $('#id_firstName').val();
                     var lastName = $('#id_lastName').val();
                     var country = $('#id_country').val();
                     var address_Line1 = $('#id_address_Line1').val();
                     var unit1 = $('#id_unit1').val();
                     var unit2 = $('#id_unit2').val();
                     var address_Line2 = $('#id_address_Line2').val();
                     var state = $('#id_state').val();
                     var postalCode = $('#id_postalCode').val();
                     var sec_question = $('#id_sec_question').val();
                     var sec_answer = $('#id_sec_answer').val();
                     if(firstName == ''){
                       $('#id_firstName').focus();
                        return false;
                     }
                     else if(lastName == ''){
                        $('#id_lastName').focus();
                        return false;
                     }
                     else if(country == ''){
                        $('#id_country').focus();
                        return false;
                     }
                     else if(address_Line1 == ''){
                        $('#id_address_Line1').focus();
                        return false;
                     }
                     else if(unit1 == ''){
                        $('#id_unit1').focus();
                        return false;
                     }
                     else if(unit2 == ''){
                        $('#id_unit2').focus();
                        return false;
                     }
                     else if(address_Line2 == ''){
                        $('#id_address_Line2').focus();
                        return false;
                     }
                     else if(state == ''){
                        $('#id_state').focus();
                        return false;
                     }
                     else if(postalCode == ''){
                        $('#id_postalCode').focus();
                        return false;
                     }
                     else if(sec_question == ''){
                        $('#id_sec_question').focus();
                        return false;
                     }
                     else if(sec_answer == ''){
                        $('#id_sec_answer').focus();
                        return false;
                     }
                     else{
                        var form_data = {};
                        var form_data =  $('#updateProfileForm').serialize();
                        $body.addClass("loading");
                        $.ajax({
                          url: '/profileUpdate',
                          type: "POST",
                          data: form_data,
                          dataType: 'json',
                          cache:false,
                          success: function (data)
                          {
                            $body.removeClass("loading");
                            if (data.status == 'success') {
                                location.reload();setTimeout(function() {
                                        location.reload();
                                    },3000);
                                alert(data.success_msg);
                            }
                          }

                        });

                     }

             });

            $(document).on('click', '#updateDomainName', function() {
                $('#success_msg').empty();
                $('#error_msg').empty();
                 $('#success_msg').empty();
                $('#error_msg').empty();
                if( $('#domainName').val().length < 6) {
                        alert('Domain Name should contain at least 6 alphanumeric characters');
                        $('#domainName').focus();
                        return false;
                    }
                    else if(!/\d{1}[A-z]|[A-z]{1}\d/.test($('#domainName').val())){
                        alert('Domain Name should contain at least 1 digit!');
                        $('#domainName').focus();
                        return false;
                    }
                else{
                        if ($('#domainName').val() != '') {
                            var data = "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"&domainName="+$('#domainName').val();
                            $.ajax({
                              url: "/renameSchemaURL",
                              type: "POST",
                              dataType: "text",
                              data: data,
                              async:false,
                              success: function (result)
                              {
                                var data = JSON.parse(result);
                                if (data.status == 'success') {
                                    $('#success_msg').append(data.success_msg);
                                    $("#domainName").prop("disabled",true);
                                    $("#updateDomainName").prop("disabled",true);
                                    setTimeout(function() {
                                        $('#success_msg').empty();
                                        window.location.href = data.redirect_url;
                                    }, 3000);
                                }
                                else if (data.status == 'error' && data.error_msg != 'sessionexpired') {
                                    $('#error_msg').append(data.error_msg);
                                }
                                else if (data.status == 'error' && data.error_msg == 'sessionexpired') {
                                    $('#domainName').val('');
                                    $('#error_msg').append('Session expired.');
                                    $("#domainName").prop("disabled",true);
                                    $("#updateDomainName").prop("disabled",true);
                                    setTimeout(function() {
                                        window.location.href = data.redirect_url;
                                    }, 3000);
                                }
                              }
                             });
                        }
                        else {
                            $('#error_msg').append('Please enter domain name');
                        }
                     }
             });

    $(document).ready(function() {
     if(('{{status}}')=='No'){
                $('#changeDomainName').click();
                }
   /* Restrict Copy, paste action in Password fields Start */
    $('#id_password, #id_confirm_password').on("cut copy paste",function(e) {
      e.preventDefault();
    });
    /* Restrict Copy, paste action in Password fields End */
    /* Restrict Space in password field Start */
    $('#id_password, #id_confirm_password').keydown(function(event) {
        if(event.keyCode == 32){
            event.preventDefault();
        }
    });
    /* Restrict Space in password field End */
    /* Number Only allow in textbox start */
    $('.number').on('input', function (event) {
       this.value = this.value.replace(/[^0-9]/g, '');
    });
    /* Number Only allow in textbox End */
    /* Maximum Length characters set from model only allow in all field for mobile and tablet Start */
    $('input').on('input', function (event) {
      var id = $(this).attr('id');
      var maxlength = document.getElementById(id).maxLength;
      if (this.value.length > maxlength)
        this.value = this.value.slice(0,maxlength);
    });
    /* Maximum Length characters set from model only allow in all field for mobile and tablet End */
    window.scrollTo(0,0);
    window.document.body.scrollTop++;
});
</script>
	</body>
</html>