{% extends 'administrationpanelbase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/viewall.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/manualUploadForm.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/responsive.bootstrap4.min.css' %}"/>

<script type="text/javascript" src="{% static 'datatables/js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/js/dataTables.responsive.min.js' %}"></script>
<script src ="{% static 'js/jquery-ui.js' %}"></script>
<script src ="{% static 'js/script.js' %}"></script>
<style>
.ui-dialog{
        width: 35% !important;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        background-color: white;

    }
    .ui-dialog-buttonpane{
        padding: 0em !important;
    }
    .ui-dialog-titlebar{
        background-color: #cbc1e8;
        color: black;
        font-weight: bold;
    }
    .ui-dialog-buttonset{
        justify-content: middle;
    }
    table.dataTable {
        margin-top: 0% !important;
        margin-left: 1.5% !important;
        border-collapse: collapse !important;
    }
    thead {
        border: 1px solid #f2e4f5;
        background-color: #eddcf0;
    }
    .subHeadClass {
        border-bottom: none
    }
    #bodyDiv {
        background-color: #f9f3fa;
        margin-right: -15px !important;
        padding: 0.5% 2% 0.5% 2%;
    }
    #bodyContent {
        margin-left: -15px;
        padding-right: 0px
    }
    .addMarginFiveTB {
        padding: 5px 0px 0px 0px;
    }
    .page-link {
        background-color: #eddcf0 !important
    }
    #selectCatalog{
    color:#464646;
    height: 30px;
    width: 200px !important;
    border: 1px solid #bb99c0;
    border-radius: 8px !important;
    padding: 4px 16px 4px 12px!important;
    font-size:12px;
    font-weight:bold;
    cursor: pointer !important;
}
#catalogName{
    border: 1px solid #bb99c0;
    border-radius: 8px !important;
    height:30px;
}
.discount, .absoluteDiscount, .actualSalesPrice {
    width: 80px !important;
    border: 1px solid #c9a6c0;
    border-radius: 8px !important;
    text-align: center;
}
.catalogSubHead {
    padding: 5px;
    color: #474747;
    font-weight: bold;
    cursor: pointer;
}
.catalogSubHeadLeftActive {
  border: 1px solid #eddcf0;
    border-top-right-radius: 5px;
    background-color: #eddcf0;
}
#createCatalogMenu {
    margin-left: 2.8%;
}
#menuTab{
    margin-top: 1%;
}
.addProductCatalogTable {
    font-size: 13px;
    text-align: center;
}
.menuHeaderClass{
    color: #474747;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none !important;
    padding: 0.6%;
    cursor: pointer;
}
.purchaseMenuHeaderClass{
    border: 1px solid #f2e4f5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #eddcf0;
}
.salesMenuHeaderClass{
    border: 1px solid #f2e4f5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.anchorlink, .anchorlink:hover {
    text-decoration: none !important;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    color: #474747;
}
@media (min-width:320px) and (max-width: 480px)  {

    table.dataTable {
        margin-top: 0% !important;
        margin-left: 19.5% !important;
        border-collapse: collapse !important;
    }
    .paddRow{
            padding-left: 25% !important;
            font-size: 73% !important;
    }
    .catalogSubHead {
        padding: 5px;
        color: #474747;
        font-weight: bold;
        cursor: pointer;
        padding-left: 13%;
    }
    #createCatalogMenu {
        margin-left: 11.8%;
    }
    #addProductCatalogTable_paginate {
            margin-left: 98% !important;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
          justify-content: inherit !important;
    }
    .marginTB{
            margin-left: 12px !important;
        }

}
</style>
 <div class="row headColor">
  <div class="col-md-2 col-sm-4 col-24" id="sideBarLeft">
        {% include "administrationpanelsidebar.html" %}
  </div>
  <div class="col-md-10 paddingLeftZero" id="bodyContent">
      <div id="bodyDiv">
          <div class="row bgColor addMarginFiveTB" id="menuTab">
            <div class="col-md-3 col-sm-3 col-6 menuHeaderClass salesMenuHeaderClass" id="saleProductCatalogMenu">
                Sales Product Catalog
            </div>
            <div class="col-md-3 col-sm-3 col-6 menuHeaderClass purchaseMenuHeaderClass" id="purchaseProductCatalogMenu">
                <a class="anchorlink " href="#">Purchase Product Catalog</a>
            </div>

        </div>
        <!--<div class="row addMarginFiveTB">
            <div class="col-md-4 col-sm-3 col-6">
                <a href="{% url 'productpurchasecatalog' %}" class="subHeadClass" id="orderBtn">Purchase Product Catalog</a>
            </div>
        </div>-->
          <br/>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-12">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-12" style="padding-left: 35px;">
                        <label class="">Select Catalog:</label>
                        <select id="selectCatalog" class="selectCatalog">
                            <option value="">Select</option>
                            {% for catalog in catalog %}
                            <option value="{{catalog.purPrdtCatId}}">{{catalog.catalogName}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

            </div>

        </div>
        <div class="row addMarginFiveTB" id="menuTab">
            <div class="col-md-2 col-sm-3 col-3 catalogSubHead " id="createCatalogMenu">
                Create Catalog
            </div>
            <div class="col-md-2 col-sm-3 col-3 catalogSubHead " id="viewCatalogMenu">
                View Catalog
            </div>
            <div class="col-md-2 col-sm-3 col-3 catalogSubHead catalogSubHeadLeftActive" id="updateCatalogMenu">
                <a class="anchorlink " href="#">Edit Catalog</a>
            </div>
            <div class="col-md-5 col-sm-3 col-3 catalogSubHead " id="submitAndSearchBtnDiv">
                <div class="pull-right">
                    <a href="#" id="hitBtn"> <img class="img-responsive" id="hitBtnImg" style="height:30px" src="{% static 'images/register/submit.png' %}" alt=""/></a>
                    <span class="input-group" id="searchOptionInputGroup">
                        <input type="text" name="searchOption" id="searchOption" maxlength="60">
                        <div class="input-group-append">
                          <span id="spanSearchIcon">
                            <i class="fa fa-search"></i>
                          </span>
                        </div>
                    </span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-3 col-6" align="center" style="margin-top: -0.2%;">
                <div id="product">
                    <table class="table hover dt-responsive addProductCatalogTable" id="addProductCatalogTable" width="100%" style="font-size:85%">
                         <thead>
                            <tr>
                               <th rowspan="1" class="header">S.No</th>
                               <th rowspan="1" class="header">Product Code</th>
                               <th rowspan="1" class="header">Product Name</th>
                               <th rowspan="1" class="header">Category</th>
                               <th rowspan="1" class="header">Price</th>
                               <th rowspan="1" style="width:20%" class="header"><input type="checkbox" class="selectAllList" id="selectCatagory" name="selectCatagory" /></th>
                            </tr>
                         </thead>
                    </table>
                </div>
                
            </div>
        </div>
      </div>
    </div>
</div>
{% include "rightsidebar.html" %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="exampleModalLongTitle"> </h5>
               <span id="modalCloseBtn">

              </span>
          </div>
          <div class="modal-body">
              <div id="success_msg" class="success_msg"> </div>
              <div id="error_msg" class="error_msg"> </div>
                <form role="form" autocomplete="off">
                    {% csrf_token %}
                    <div id="modalBody">

                    </div>
                </form>
          </div>
          <div class="modal-footer" id="modalFooter">

          </div>
        </div>
      </div>
    </div>


<div class="modal" id="viewProfileModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog viewProfileModal" style="max-width: 60%;">
    <div class="modal-content" style="background-color: #f7f3fa;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="viewProfileModalTitle"> Profile </h4>
        <button type="button" class="close viewProfileModalClose" data-dismiss="modal" aria-hidden="true">x</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="profileModalBody">
        <div class="row" >
            <div class="col-md-12 col-sm-3 col-6 " >
                <div class="col-md-12" id="viewProfileModalFormDiv">
                    <form class="registrationform" id="updateProfileForm" role="form" method='POST' autocomplete="off">

                        {% csrf_token %}
                        <div id="formsec1">
                          <div class="form-group row registrationformdiv">
                              <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.firstName.label_tag }}<span class="mandatory">*</span></label>
                            {{ profileForm.firstName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3" id="firstNameError">{{ profileForm.firstName.errors }}</div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.lastName.label_tag }}<span class="mandatory">*</span></label>
                             {{ profileForm.lastName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3" id="lastNameError">{{ profileForm.lastName.errors }} </div>
                        <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.contactNo.label_tag }}<span class="mandatory">*</span></label>
                             {{profileForm.countryCode}}{{ profileForm.contactNo }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="contactNoError">{{ profileForm.contactNo.errors }} </div>
                        <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.email.label_tag }}<span class="mandatory">*</span></label>
                             {{ profileForm.email }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="emailError">{{ profileForm.email.errors }} </div>

                        </div>
                        <div id="formsec2">
                            <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.companyName.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.companyName }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="companyNameError"> {{ companyProfileForm.companyName.errors }} </div>


                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.country.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.country }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="countryError"> {{ companyProfileForm.country.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line1.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line1 }}
                            <label class="col-5 col-md-1 col-form-label unitlabel" id="unitlabel">Unit<span class="mandatory">*</span></label>
                             {{ companyProfileForm.unit1 }}
                            <p id="hyphen">-</p>
                            {{ companyProfileForm.unit2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address1Error"> {{ companyProfileForm.address_Line1.errors }} </div>
                          <div class="form-group row registrationformdiv" id="addressTwoDiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line2.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address2Error"> {{ companyProfileForm.address_Line2.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.state.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.state }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="stateError"> {{ companyProfileForm.state.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.postalCode.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.postalCode }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="postalCodeError"> {{ companyProfileForm.postalCode.errors }} </div>
                            <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.sec_question.label_tag }}<span class="mandatory">*</span></label>
                            {{ profileForm.sec_question }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="secQuestionError"> {{ profileForm.sec_question.errors }} </div>
                            <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{profileForm.sec_answer.label_tag }}<span class="mandatory">*</span></label>
                            {{ profileForm.sec_answer }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="secAnswerError"> {{ profileForm.sec_answer.errors }} </div>
                            <div class="col-12 offset-sm-4 col-md-6" id="submitBtnDiv">  <input type="button" class="profileUpdateButtonClass" id="profileUpdateButton" value="Update"> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn editProductModalClose" id="editProductModalClose" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<script>

  $(document).ready(function() {
                var addProductCatalogTableList = new Array();
                var myaddProductTableList = new Array();
                var addProductCatalogTable = $('#addProductCatalogTable').DataTable({
                    "bFilter": false,
                    "bLengthChange": false,
                    "targets": 'no-sort',
                    "bSort": false,
                    "info": false,
                    "searching": true,
                    "order": [],
                    "pagingType": "full_numbers",
                    language: {
                            paginate: {
                                previous: false,
                                next: false,
                                first: '<img src="{% static 'images/leftsidearrow.png' %}" width=15 />',
                                last: '<img src="{% static 'images/rightsidearrow.png' %}" width=15 />'
                            }
                        },
                        fields: [ {
                            label: "Price"
                        }],
                     } );

         $('#iconsec').on('click',function() {
                 $('#fileuploaddata').val(null);
                 $('#imageModel').show();
                 $('#imageModel').modal('toggle');
           });

           $('.imageUpload').on('click', function() {
                $('#exampleModalLongTitle').empty();
                $('#modalBody').empty();
                $('#modalFooter').empty();
                if ($(this).attr('id') == 'changeDomainName') {

                    var modalBody = "<div class='form-group formGroup'><label for='recipient-name' class='col-form-label fontWeightBold'>New Domain Name:</label><input type='text' class='form-control' name='domainName' id='domainName' autofocus></div>";
                    var modalFooter = "<input type='button' id='updateDomainName' class='btn btn-primary modalBtnClass' value='Save changes'>";
                    appendDynamicContent('Change Domain Name', modalBody, modalFooter);
                }
                else if ($(this).attr('id') == 'iconMF') {
                    var modalBody = "<div class='form-group formGroup'><input type='hidden' name='idContainer' value='iconProfileLogo' id='idContainer'><label for='recipient-name' class='col-form-label fontWeightBold'>Profile Image:</label><input type='file' style='height: 50px' class='form-control' name='fileuploaddata' id='fileuploaddata'><br/><p style='font-size:13px;'>allowed only Jpg,png formats below 5 MB</p></div>";
                    var modalFooter = "<input type='button' class='btn btn-default modalBtnClass' id='uploadImageSubmit' value='Submit' data-dismiss='modal'>";
                    appendDynamicContent('Change Profile Image', modalBody, modalFooter);
                }
                else if ($(this).attr('id') == 'iconCompanyLogo') {
                    var modalBody = "<div class='form-group formGroup'><input type='hidden' name='idContainer' value='iconCompanyLogo' id='idContainer'><label for='recipient-name' class='col-form-label fontWeightBold'>Company Logo:</label><input type='file' style='height: 50px' class='form-control' name='fileuploaddata' id='fileuploaddata'><br/><p style='font-size:13px;'>allowed only Jpg,png formats below 5 MB</p></div>";
                    var modalFooter = "<input type='button' class='btn btn-default modalBtnClass' id='uploadImageSubmit' value='Submit' data-dismiss='modal'>";
                    appendDynamicContent('Change Company Logo', modalBody, modalFooter);
                }
            });

  var dataSetArr = [];

$(document).on('change', '.AddProductCatalogBtn', function() {
 var id = $(this).attr('id');
 var splitIdVal = id.split('_');
 var itemCode = splitIdVal[0];
    if($(this).is(":checked")){
        var totalItem = new Object();
        totalItem.itemCode=$(this).val();
        dataSetArr.push(totalItem);
    }
    else if($(this).is(":not(:checked)")){
        //removeByAttr(dataSetArr, 'itemcode', item);
        $("#selectCatagory").prop('checked', false);
        var removeIndex = dataSetArr.map(function(item) { return item.id; }).indexOf(itemCode);
        dataSetArr.splice(removeIndex, 1);
        dataSetArr = dataSetArr;
    }
});

       /*$('.selectAllList').on('click', function() {
            if ($(this).attr('id') == 'selectCatagory') {
                if (addProductCatalogTableList.length > 0) {
                    if($(this).prop("checked") == true) {
                        addProductCatalogTable.$("input[type='checkbox']").prop('checked', true);
                    }
                    else if($(this).prop("checked") == false) {
                        addProductCatalogTable.$("input[type='checkbox']").prop('checked', false);
                    }
                }
            }

       });*/


var pageInfo = addProductCatalogTable.page.info();
var pageNo = pageInfo.page;
var pageArrList = [];

   $('.selectAllList').on('click', function() {
        if ($(this).attr('id') == 'selectCatagory') {
           var catalog = $('#selectCatalog').val();
            var data ={"catalog":catalog}
            $.ajax({
                  url: "/productCatalogPurchaseViewDetails",
                  type: "POST",
                  dataType : "json",
                  contentType : "application/json",
                  data: JSON.stringify(data),
                  success: function (result)
                  {
                    if (result.status == 'success') {
                        var addProductCatalogTableListArray = result.totalItems[0].totalItem;
                        var i = 0;
                        if (addProductCatalogTableListArray.length > 0) {
                        if($('#selectCatagory').prop("checked") == true) {
                        var p = $('.addProductCatalogTable tbody tr:visible').length;
                        var resultData = addProductCatalogTableListArray.splice(pageInfo.start, p);
                            $.each(resultData, function (key, value) {
                            addProductCatalogTable.$("#"+value.itemCode+'_'+value.purchasingItem__purchasingPrice+'_'+value.purchasingItem__purchasingCurrency__currencyTypeCode).prop('checked', true);
                                var totalItem = new Object();
                                totalItem.itemCode=value.itemCode;
                                dataSetArr.push(totalItem);
                            i++;
                            });
                            var pageArrListObj = new Object();
                            pageArrListObj.pageDataCheckList=i;
                            pageArrListObj.pageNo=pageNo;
                            pageArrList.push(pageArrListObj);
                            //addProductCatalogTable.$("input[type='checkbox']").prop('checked', true);
                        }
                        else if($('#selectCatagory').prop("checked") == false) {
                            var p = $('.addProductCatalogTable tbody tr:visible').length;
                            var resultData = addProductCatalogTableListArray.splice(pageInfo.start, p);
                            $.each(resultData, function (key, value) {
                                addProductCatalogTable.$("#"+value.itemCode+'_'+value.purchasingItem__purchasingPrice+'_'+value.purchasingItem__purchasingCurrency__currencyTypeCode).prop('checked', false);
                                dataSetArr.splice(dataSetArr.indexOf(resultData),1);
                            });
                            pageArrList = removeByAttr(pageArrList, 'pageNo', pageNo);
                        }
                    }

                  }
             }

            });
        }

   });

var removeByAttr = function(arr, attr, value){
    var i = arr.length;
    while(i--){
       if( arr[i]
           && arr[i].hasOwnProperty(attr)
           && (arguments.length > 2 && arr[i][attr] === value ) ){

           arr.splice(i,1);

       }
    }
    return arr;
}

$('#addProductCatalogTable').on( 'page.dt', function () {
    pageInfo = addProductCatalogTable.page.info();
    pageNo = pageInfo.page;
    var status = [];
    $.each(pageArrList, function (key, value) {
        if(pageNo == value.pageNo){
            status.push('true');
        }
        else{
            status.push('false');
        }
    });
    if(status.includes("true") == true){
        $('#selectCatagory').prop("checked", true);
    }
    else{
        $('#selectCatagory').prop("checked", false);
    }

});

               function pullProductCatalogTable(addProductCatalogTableList){
                    $('#product').show();
                    addProductCatalogTable.clear().draw();
                    if (addProductCatalogTableList.length > 0) {
                        $.each(addProductCatalogTableList, function( index, value ) {
                            var sno = index+1;
                            var action = "<input class='AddProductCatalogBtn' type='checkbox' id="+value.itemCode+"_"+value.purchasingItem__purchasingPrice+"_"+value.purchasingItem__purchasingCurrency__currencyTypeCode+" value= "+value.itemCode+">";
                            addProductCatalogTable.row.add([sno,value.itemCode,value.itemName,value.itemCategory__prtCatName,value.purchasingItem__purchasingPrice+" "+value.purchasingItem__purchasingCurrency__currencyTypeCode,action]).draw();
                        });
                        $('#submitAndSearchBtnDiv').show();
                    }
                    else {
                        $('#submitAndSearchBtnDiv').hide();
                    }
               }

         /* Hide Submit Btn & Search Btn Div Start */
            $('#submitAndSearchBtnDiv').hide();
         /* Hide Submit Btn & Search Btn Div End */


$(document).on('click', '#saleProductCatalogMenu', function() {
     window.location.href = "/productsalescatalog";
});
$(document).on('click', '#purchaseProductCatalogMenu', function() {
     window.location.href = "/productpurchasecatalog";
});

$(document).on('click', '#createCatalogMenu', function() {
     window.location.href = "/productpurchasecatalog";
});
$(document).on('click', '#viewCatalogMenu', function() {
     window.location.href = "/productpurchasecatalogview";
});

     $(document).on('change', '.selectCatalog', function() {
            var catalog = $('#selectCatalog').val();
            if(catalog != ''){
                var data ={"catalog":catalog}
                 $.ajax({
                      url: "/productCatalogPurchaseViewDetails",
                      type: "POST",
                      dataType : "json",
                      contentType : "application/json",
                      data: JSON.stringify(data),
                      success: function (result)
                      {
                        if (result.status == 'success') {
                            addProductCatalogTableList = result.totalItems[0].totalItem;
                            pullProductCatalogTable(addProductCatalogTableList);

                        }
                        else if(result.status == 'error' && result.error_msg == 'sessionexpired'){
                            setTimeout(function() {
                                window.location.href = data.redirect_url;
                            }, 2000);
                            alert('Session has expired.');
                        }
                        else{
                            alert(result.error_msg);
                        }

                      }
                 });
             }
             else{
                addProductCatalogTable.clear().draw();
                $('#submitAndSearchBtnDiv').hide();
             }

     });

    $(document).on('click',	'#hitBtn', function() {

        var catalogname = $('#selectCatalog').val();
        var myArray = new Array();
        var returnStatus;
        var data = new Object();
            if($('#selectCatalog').val()==""){
                alert("Please Select Catalog");
                return false;
            }
            else if(dataSetArr.length == 0){
                alert('Please Select Product');
                return false;
            }

            else {
                $("input:checkbox.AddProductCatalogBtn:checked").each(function(){

                    var id = $(this).attr('id');
                    var result = id.split('_');
                    var totalItem = new Object();
                    totalItem.itemCode=result[0];
                    myArray.push(totalItem);
                });

                 dataSetArr = removeDuplicates(dataSetArr, 'itemCode');
                    function removeDuplicates(originalArray, objKey) {
                      var trimmedArray = [];
                      var values = [];
                      var value;

                      for(var i = 0; i < originalArray.length; i++) {
                        value = originalArray[i][objKey];

                        if(values.indexOf(value) === -1) {
                          trimmedArray.push(originalArray[i]);
                          values.push(value);
                        }
                      }

                      return trimmedArray;

                    }

                var data ={"catalogId":catalogname,"data":dataSetArr}
        $("#hitBtn").prop("disabled", true);
             $.ajax({
              url: "/addNewProductCatalogPurchase",
              type: "POST",
              dataType : "json",
              contentType : "application/json",
              data: JSON.stringify(data),
              success: function (result)
              {
                if (result.status == 'success') {
                $("#hitBtn").prop("disabled", false);
                    setTimeout(function() {
                            location.reload();
                        }, 3000);
                     alert(result.success_msg);
                }
                else if(result.status == 'error' && result.error_msg == 'sessionexpired'){
                    setTimeout(function() {
                        window.location.href = data.redirect_url;
                    }, 2000);
                    alert('Session has expired.');
                }
                else{
                    alert(result.error_msg);
                }

              }
            });

            }

    });

            checkTreeCollapse();
            function checkTreeCollapse() {
                $(".tree-container li.tree-li").removeClass("is-child")
                $(".tree-container li.tree-li").each(function () {
                    if ($(this).find("ul.tree-ul li").length > 0) {
                        $(this).addClass("is-child")
                    }
                });
                $(".tree-container li.tree-li span.text").unbind("click");
                $(".tree-container li.tree-li.is-child span.text").click(function () {
                    $(this).parent(".tree-li").toggleClass("diactive");
                    $(this).parent(".tree-li").find(".tree-ul:first").toggleClass("diactive");
                });
            }
            window.scrollTo(0,0);
            window.document.body.scrollTop++;

            function appendDynamicContent(modalHead, modalBody, modalFooter) {
                $('#exampleModalLongTitle').append(modalHead);
                $('#modalBody').append(modalBody);
                $('#modalFooter').append(modalFooter);
                $('#exampleModalCenter').modal({backdrop: 'static', keyboard: false})
                $('#exampleModalCenter').modal('toggle');
                $('#exampleModalCenter').show();
            }

            $('#submit').on('click', function() {
                $('#success_msg').empty();
                $('#error_msg').empty();
                if ($('#domainName').val() != '') {
                    var data = "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"&domainName="+$('#domainName').val();
                    $.ajax({
                      url: "/renameSchemaURL",
                      type: "POST",
                      dataType: "text",
                      data: data,
                      async:false,
                      success: function (result)
                      {
                        var data = JSON.parse(result);
                        if (data.status == 'success') {
                            $('#success_msg').append(data.success_msg);
                            $("#domainName").prop("disabled",true);
                            $("#submit").prop("disabled",true);
                            setTimeout(function() {
                                $('#success_msg').empty();
                                window.location.href = data.redirect_url;
                            }, 3000);
                        }
                        else if (data.status == 'error' && data.error_msg == 'sessionexpired') {
                            $('#domainName').val('');
                            $('#error_msg').append('Session expired.');
                            $("#domainName").prop("disabled",true);
                            $("#submit").prop("disabled",true);
                            setTimeout(function() {
                                window.location.href = data.redirect_url;
                            }, 3000);
                        }
                        else{
                            $('#error_msg').append(data.error_msg);
                        }
                      }
                     });
                }
                else {
                    $('#error_msg').append('Please enter domain name');
                }
            });

             /* Customize search option for DataTable Start */
                $(document).on("keyup", "#searchOption", function(e) {
                    $('#addProductCatalogTable').DataTable().search(this.value).draw();
                });
             /* Customize search option for DataTable End */

    });
</script>
{% endblock %}