{% load static %}
<div id="productAuto">
    <div id="productAutoTabDiv">
        <div class="row bgColor paddingLeftRightTen" id="productUploadId">
            <div class="col-md-5 tabOptionDiv">
                <span class="col-md-6 nonActive tabOption borderLeftRadiusTab" id="tabOption_1_P">
                    <a href="{% static 'download_import_csv_format/product_import_format.csv' %}" class="customerUpload" id="downloadProduct" download>Download Product Template</a>
                </span>
                <span class="col-md-6 nonActive tabOption tabOptionActive borderRightRadiusTab" id="tabOption_0_P">
                    <a class="customerUpload uploadActive" href="#" id="uploadProduct">Upload Product Data</a>
                </span>
            </div>
            <div class="col-md-7">
                <img src="{% static 'images/register/watchvideo.png' %}" class="img-responsive pull-right watchVideo">
            </div>
        </div>
    </div>
    <div id="productUploadFormContent">
        <div class="col-md-12" id="productUploadFormDiv">
            <div id="dragDropPanelDiv" class="customerUploadForm" align="center">
                <div id="panelCard">
                    <div class="card" align="left">
                      <div class="card-header" >Product Data</div>
                      <div class="card-body">
                          <input type="file" name="customerFileUpload" id="customerFileUpload">
                           <div class="demo-droppable" id="dragDropDiv" ondrop="drop(event)" ondragover="event.preventDefault()" align="center">
                               <h6>Drag your files here </h6>
                               <h6>or</h6>
                               <h6>Browse</h6>
                          </div>
                          <div class="pull-right" id="upto10mp">
                                  Up to 10mb can be Uploaded
                          </div>
                             <div id="upload_success_msg" class="up_success_msg"> </div>
                             <div id="upload_error_msg" class="up_error_msg"> </div>
                      </div>
                        <div align="center" style="display: none">
                            <input class="form-control modify" type="hidden" value="product" id="type">
                            <input class="form-control modify" type="text" value="" id="googleLink"  placeholder="Paste Your Google Drive CSV Link" >
                        </div>
                      <div class="card-footer">
                          <input class="btn pull-right" id="dragDropUploadBtn" type="button" value="Upload">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>