{% extends 'operationalpanelbase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new/newpassword.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'css/operationalpanel.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/placeOrder.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
<script src ="{% static 'js/jquery-ui.js' %}"></script>
<script src ="{% static 'js/script.js' %}"></script>
<style>
/* Hide Language Icon Start */
#languageIconRow {
    display: none
}
/* Hide Language Icon End */
</style>
<div class="row headColor">
  <div class="col-md-2 col-sm-4 col-24" id="sideBarLeft">
        {% include "operationalpanelsidebar.html" %}
  </div>
  <div class="col-md-10 paddingLeftRightZero" id="bodyContent">
    <div class="row" id="guideRowLogin">
    <div class="offset-1 col-11 offset-sm-1 col-sm-11 offset-md-3 col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading offset-1 col-10 offset-sm-3 col-sm-9 offset-md-3 col-md-6"><img
                    class="img-responsive" src="{% static 'images/register/Logo.png' %}" id="otloginlogo"/></div>
            <br/>
            <form class="registrationform" role="form" action='/resetpassword/' method='POST' autocomplete="off">
                {% csrf_token %}

                <div class="row error justify-content-center defaultMarginTopTen" style="color:red">
                     {% if messages %}{% for message in messages %} {{ message }} {% endfor %}{%endif%}
                 </div>

                <div class="offset-3 offset-sm-4 offset-md-3" id="old_password"> {{ formreset.old_password.errors }} </div>
                <div class="form-group row registrationformdiv" id="addressTwoDiv">
                    <label class="offset-1 col-5 col-md-5 col-form-label firstnamelabel">{{formreset.old_password.label_tag }}<span class="mandatory">*</span></label>
                    {{ formreset.old_password }}
                  </div>

                <div class="offset-3 offset-sm-4 offset-md-3" id="password"> {{ formreset.password.errors }} </div>
                  <div class="form-group row registrationformdiv">
                    <label class="offset-1 col-5 col-md-5 col-form-label firstnamelabel">{{formreset.password.label_tag }}<span class="mandatory">*</span></label>
                    {{ formreset.password }}
                  </div>

                <div class="offset-3 offset-sm-4 offset-md-3" id="confirm_password"> {{ formreset.confirm_password.errors }} </div>
                  <div class="form-group row registrationformdiv">
                    <label class="offset-1 col-5 col-md-5 col-form-label firstnamelabel">{{formreset.confirm_password.label_tag }}<span class="mandatory">*</span></label>
                    {{ formreset.confirm_password }}
                      </div>




                <input name="emailId" value="{{ email }}" id="emailId" type="hidden"/>
                <div class="row">
                    <div class="offset-3 col-6 offset-sm-2 col-sm-6 offset-md-3 col-md-6">
                        <input type="submit" id="submitbutton" value=""><br/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
  </div>
    {% include "rightsidebar.html" %}
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="exampleModalLongTitle"> </h5>
               <span id="modalCloseBtn">

              </span>
          </div>
          <div class="modal-body">
              <div id="success_msg" class="success_msg"> </div>
              <div id="error_msg" class="error_msg"> </div>
                <form role="form" autocomplete="off">
                    {% csrf_token %}
                    <div id="modalBody">

                    </div>
                </form>
          </div>
          <div class="modal-footer" id="modalFooter">

          </div>
        </div>
      </div>
    </div>

<script>
  $(function() {
        $('ul#languageRowIcon li').on( 'click', function() {
              $( this ).parent().find( 'li.active' ).removeClass( 'active' );
              $( this ).addClass( 'active' );
        });


         $('.imageUpload').on('click', function() {
                $('#exampleModalLongTitle').empty();
                $('#modalBody').empty();
                $('#modalFooter').empty();
                if ($(this).attr('id') == 'changeDomainName') {
                    var modalBody = "<div class='form-group formGroup'><label for='recipient-name' class='col-form-label fontWeightBold'>New Domain Name:</label><input type='text' class='form-control' name='domainName' id='domainName' autofocus></div>";
                    var modalFooter = "<input type='button' id='updateDomainName' class='btn btn-primary modalBtnClass' value='Save changes'>";
                    appendDynamicContent('Change Domain Name', modalBody, modalFooter);
                }
                else if ($(this).attr('id') == 'iconMF') {
                    var modalBody = "<div class='form-group formGroup'><input type='hidden' name='idContainer' value='iconProfileLogo' id='idContainer'><label for='recipient-name' class='col-form-label fontWeightBold'>Profile Image:</label><input type='file' style='height: 50px' class='form-control' name='fileuploaddata' id='fileuploaddata'><br/><p style='font-size:13px;'>allowed only Jpg,png formats below 5 MB</p></div>";
                    var modalFooter = "<input type='button' class='btn btn-default modalBtnClass' id='uploadImageSubmit' value='Submit' data-dismiss='modal'>";
                    appendDynamicContent('Change Profile Image', modalBody, modalFooter);
                }
                else if ($(this).attr('id') == 'iconCompanyLogo') {
                    var modalBody = "<div class='form-group formGroup'><input type='hidden' name='idContainer' value='iconCompanyLogo' id='idContainer'><label for='recipient-name' class='col-form-label fontWeightBold'>Company Logo:</label><input type='file' style='height: 50px' class='form-control' name='fileuploaddata' id='fileuploaddata'><br/><p style='font-size:13px;'>allowed only Jpg,png formats below 5 MB</p></div>";
                    var modalFooter = "<input type='button' class='btn btn-default modalBtnClass' id='uploadImageSubmit' value='Submit' data-dismiss='modal'>";
                    appendDynamicContent('Change Company Logo', modalBody, modalFooter);
                }
            });

            function appendDynamicContent(modalHead, modalBody, modalFooter) {
                $('#exampleModalLongTitle').append(modalHead);
                $('#modalBody').append(modalBody);
                $('#modalFooter').append(modalFooter);
                $('#exampleModalCenter').modal({backdrop: 'static', keyboard: false})
                $('#exampleModalCenter').modal('toggle');
                $('#exampleModalCenter').show();
            }

            $('#submit').on('click', function() {
                $('#success_msg').empty();
                $('#error_msg').empty();
                if ($('#domainName').val() != '') {
                    var data = "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"&domainName="+$('#domainName').val();
                    $.ajax({
                      url: "/renameSchemaURL",
                      type: "POST",
                      dataType: "text",
                      data: data,
                      async:false,
                      success: function (result)
                      {
                        var data = JSON.parse(result);
                        if (data.status == 'success') {
                            $('#success_msg').append(data.success_msg);
                            $("#domainName").prop("disabled",true);
                            $("#submit").prop("disabled",true);
                            setTimeout(function() {
                                $('#success_msg').empty();
                                window.location.href = data.redirect_url;
                            }, 3000);
                        }
                        else if (data.status == 'error' && data.error_msg == 'sessionexpired') {
                            $('#domainName').val('');
                            $('#error_msg').append('Session expired.');
                            $("#domainName").prop("disabled",true);
                            $("#submit").prop("disabled",true);
                            setTimeout(function() {
                                window.location.href = data.redirect_url;
                            }, 3000);
                        }
                        else{
                            $('#error_msg').append(data.error_msg);
                        }
                      }
                     });
                }
                else {
                    $('#error_msg').append('Please enter domain name');
                }
            });
  });



</script>
{% endblock %}