{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new/landingpage.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/checkbox.css' %}"/>
<style>
.card-pricing.popular {
    z-index: 1;
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.15);
    border: none;
    border-radius: 15px;
    padding: 50px 0;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}
.priceDetails{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.priceDetails span{
    font-size: 20px;
}
.priceDetailsSub{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #757575;
    margin: 0;
    padding: 0;
}

.bgColor {
    color: #000 !important;
    font-weight: bold;
    font-size: 20px;
}
.justifyClass {
    text-align: justify !important
}
.subPlan {
    color: #9f47aa !important;
    font-size: 40px
}
.btnClass, .btnClass:hover  {
    background: #881999;
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 12px 35px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.headingBill {
    font-weight: bold;
    font-size: 16px;
    color: #9f47aa;
    width: 8%
}
.card-footer {
    background-color: white;
    border-top: none
}
.removeMarginRight {
    margin-right: 0px
}
/* Hide Language Icon Start */
#languageIconRow {
    display: none
}
/* Hide Language Icon End */
</style>
<div class="row" id="GuideOnRow">
  <div class="col-12 col-md-3" class="paddingLeftZero">
      <img class="img-responsive" id="guideOnImage" src="{% static 'images/landingpage/guideOn.png' %}" alt="guideOn" />
  </div>
  <div class="col-12 col-md-9" id="guideSteps" class="paddingLeftZero">
      <img class="img-responsive" id="orderTangoAccount" src="{% static 'images/landingpage/ordertangoAccount.png' %}" alt="orderTangoAccount" /> <br/>
      <p class="paragraphClass"> <strong>2 Steps</strong> to create an OrderTango<sup>TM</sup> account. </p>
      <p class="paragraphClass"> <strong>20 minutes</strong> to on board and start using OrderTango<sup>TM</sup> </p>
      <p class="paragraphClass"> <strong>Simple registration & Onboard</strong> </p>
      <p class="paragraphClass"> <sup>*</sup>Instruction can be read by clicking "Learn More" and viewing "How to" videos </p>
  </div>
</div>
<div class="row" id="languageIconRow">
  <div class="col text-center">
    <ul class="nav justify-content-center" id="languageRowIcon">
      <li class="active">
        <img class="img-responsive languageIconClass" id="englishIcon" src="{% static 'images/landingpage/english.png' %}" alt="English" />
      </li>
      <li>
        <img class="img-responsive languageIconClass" id="hindiIcon" src="{% static 'images/landingpage/hindi.png' %}" alt="Hindi" />
      </li>
      <li>
        <img class="img-responsive languageIconClass" id="bahasaIcon" src="{% static 'images/landingpage/bahasa.png' %}" alt="Bahasa" />
      </li>
      <li>
        <img class="img-responsive languageIconClass" id="tamilIcon" src="{% static 'images/landingpage/tamil.png' %}" alt="Tamil" />
      </li>
    </ul>
  </div>
</div>
<div class="row removeMarginRight justify-content-center mb-3 mt-3">
   <span class="headingBill mt-2"> Bill Monthly </span>
   <span class="checkBoxDiv mt-1">
      <label class="switch switch-left-right">
        <input class="switch-input" type="checkbox" value="1">
        <span class="switch-label" data-on="Month" data-off="Year"></span> <span class="switch-handle"></span>
      </label>
   </span>
   <span class="headingBill ml-3 mt-2"> Bill Yearly </span>
</div>
<div class="container mb-5 mt-3">
    <div class="pricing card-deck flex-column flex-md-row mb-3">
        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 bgColor mx-auto px-4 py-1 rounded-bottom text-white shadow-sm">Freemium</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <img class="img-responsive" src="https://ordertango.com/img/price/1.svg" alt="orderTangoAccount" style="width: 100%" /> <br/>
                 <h4 class="priceDetails">TBC<span>$</span></h4>
                 <h5 class="priceDetailsSub">per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4 justifyClass">
                    <li>User our OrderTango App to Buy/Sell products with free access</li>
                </ul>
            </div>
            <div class="card-footer"><a id="freeSubLink" href="{{ip}}/registration?plan=Freemium" class="btn mb-3 btnClass">Get Started</a></div>
        </div>
        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 bgColor mx-auto px-4 py-1 rounded-bottom text-white shadow-sm">Advanced</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <img class="img-responsive" src="https://ordertango.com/img/price/2.svg" alt="orderTangoAccount" style="width: 100%" /> <br/>
                <h4 class="priceDetails">TBC<span>$</span></h4>
                 <h5 class="priceDetailsSub">per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4 justifyClass">
                    <li>Accessible to buyer module</li>
                    <li>Customer can place order</li>
                </ul>
            </div>
            <div class="card-footer"><a id="advancedSubLink" href="{{ip}}/registration?plan=Advanced" class="btn mb-3 btnClass">Get Started</a></div>
        </div>
        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 bgColor mx-auto px-4 py-1 rounded-bottom text-white shadow-sm">Professional</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <img class="img-responsive" src="https://ordertango.com/img/price/3.svg" alt="orderTangoAccount" style="width: 100%" /> <br/>
                <h4 class="priceDetails">TBC<span>$</span></h4>
                 <h5 class="priceDetailsSub">per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4 justifyClass">
                    <li>Accessible to seller module</li>
                    <li>Vendor can sell their product</li>
                </ul>
            </div>
            <div class="card-footer"><a id="professionalSubLink" href="{{ip}}/registration?plan=Professional" class="btn mb-3 btnClass">Get Started</a></div>
        </div>
        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 bgColor mx-auto px-4 py-1 rounded-bottom text-white shadow-sm">Enterprise</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <img class="img-responsive" src="https://ordertango.com/img/price/3.svg" alt="orderTangoAccount" style="width: 100%" /> <br/>
                <h4 class="priceDetails">TBC<span>$</span></h4>
                 <h5 class="priceDetailsSub">per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4 justifyClass">
                    <li>Accessible to buyer/seller module</li>
                    <li>User can buy/sell product</li>
                </ul>
            </div>
            <div class="card-footer"><a id="enterpriseSubLink" href="{{ip}}/registration?plan=Enterprise" class="btn mb-3 btnClass">Get Started</a></div>
        </div>
    </div>
</div>

<footer class="footer">
</footer>
<script>
  $(function() {
        $('ul#languageRowIcon li').on( 'click', function() {
              $( this ).parent().find( 'li.active' ).removeClass( 'active' );
              $( this ).addClass( 'active' );
        });
        var planStatus = 'Monthly';
        $('.switch-label').on('click', function() {
            if (planStatus == 'Monthly') {
                planStatus = 'Yearly';
                $('#freeHead').empty().append('<span class="price subPlan">0</span><span class="h6 text-muted ml-2">/ per year</span>');
                $('#premiumHead').empty().append('<span class="price subPlan">5000</span><span class="h6 text-muted ml-2">/ per year</span>');
                $('#professionalHead').empty().append('<span class="price subPlan">10000</span><span class="h6 text-muted ml-2">/ per year</span>');
                $('#enterpriseHead').empty().append('<span class="price subPlan">20000</span><span class="h6 text-muted ml-2">/ per year</span>');
            }
            else {
                planStatus = 'Monthly';
                $('#freeHead').empty().append('<span class="price subPlan">0</span><span class="h6 text-muted ml-2">/ per month</span>');
                $('#premiumHead').empty().append('<span class="price subPlan">500</span><span class="h6 text-muted ml-2">/ per month</span>');
                $('#professionalHead').empty().append('<span class="price subPlan">1000</span><span class="h6 text-muted ml-2">/ per month</span>');
                $('#enterpriseHead').empty().append('<span class="price subPlan">2000</span><span class="h6 text-muted ml-2">/ per month</span>');
            }
        });

        var url_string = window.location.href;
        var url = new URL(url_string);
        var newurl = url_string.replace("subscription", "registration");
        var wstoken = url.searchParams.get("wsid");
        if (wstoken != null) {
            var freePlan = newurl+'&plan=Freemium';
            var advancedPlan = newurl+'&plan=Advanced';
            var professionalPlan = newurl+'&plan=Professional';
            var enterprisePlan = newurl+'&plan=Enterprise';
            $("#freeSubLink").attr("href", freePlan);
            $("#advancedSubLink").attr("href", advancedPlan);
            $("#professionalSubLink").attr("href", professionalPlan);
            $("#enterpriseSubLink").attr("href", enterprisePlan);
        }

  });
</script>
{% endblock %}