{% load static %}
<style>
     @media (min-width:600px) and (max-width: 801px)  {
        .card{
            width: 80% !important;
        }

     }
     @media (min-width:320px) and (max-width: 480px)  {
          .paddingLeftRightTen{
               margin-left: 11px !important;
          }
          .addStyl {
                font-size: 12px !important;
                font-weight: normal !important;
          }
     }
</style>
<div id="supplierAuto">
    <div id="supplierUploadTabDiv">
        <div class="row bgColor paddingLeftRightTen" id="supplierUploadTabId">
            <div class="col-md-5 tabOptionDiv">
                <span class="col-md-6 nonActive tabOption borderLeftRadiusTab" id="tabOption_1_S">
                    <a href="{% static 'download_import_csv_format/supplier_import_format.csv' %}" class="customerUpload" id="downloadSupplier" download>Download Vendor Template</a>
                </span>
                <span class="col-md-6 nonActive tabOption tabOptionActive borderRightRadiusTab" id="tabOption_0_S">
                    <a class="customerUpload uploadActive" href="#" id="uploadSupplier">Upload Vendor Data</a>
                </span>
            </div>
            <div class="col-md-7">
                <img src="{% static 'images/register/watchvideo.png' %}" class="img-responsive pull-right watchVideo">
            </div>
        </div>
    </div>
    <div id="supplierUploadFormContent">
        <div class="col-md-12" id="supplierUploadFormDiv">
            <div id="dragDropPanelDiv" class="customerUploadForm" align="center">
                <div id="panelCard">
                    <div class="card" align="left">
                      <div class="card-header" >Vendor Data</div>
                      <div class="card-body">
                          <input type="file" name="customerFileUpload" id="customerFileUpload">
                           <div class="demo-droppable" id="dragDropDiv" ondrop="drop(event)" ondragover="event.preventDefault()" align="center">
                               <h6>Drag your files here </h6>
                               <h6>or</h6>
                               <h6>Browse</h6>
                          </div>
                          <div class="pull-right" id="upto10mp">
                                  Up to 10mb can be Uploaded
                          </div>
                             <div id="upload_success_msg" class="up_success_msg"> </div>
                             <div id="upload_error_msg" class="up_error_msg"> </div>
                      </div>
                        <div align="center" style="display: none">
                            <input class="form-control modify" type="hidden" value="supplier" id="type">
                            <input class="form-control modify" type="text" value="" id="googleLink"  placeholder="Paste Your Google Drive CSV Link" >
                        </div>
                      <div class="card-footer" class="row" style="text-align:center">
                          <div class="col-md-12">
                              <input  id="dragDropUploadBtn" type="button" value="Upload">
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>