{% extends 'administrationpanelbase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/administrationpanel.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/manualUploadForm.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}" />

<script type="text/javascript" src="{% static 'js/site.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepair.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.datepair.js' %}"></script>
<script src ="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<style>

    .headingAccountInfo {
        color: #881999;
        margin-left: 13px;
    }
    .sampleModalPopup {
        max-width: 35%
    }
    #customerFileUpload {
        display: none;
    }
    #profileModalBody{
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
    .modal-dialog {
        max-width: 800px;
    }
    .mandatory {
        color: red
    }
    .ui-dialog-content{
            color:red !important;
            font-size: 17px ;
        }
    .ui-dialog{
        width: 35% !important;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        background-color: white;

    }
    .ui-dialog-buttonpane{
        padding: 0em !important;
    }
    .ui-dialog-titlebar{
        background-color: #cbc1e8;
        color: black;
        font-weight: bold;
    }
    .ui-dialog-buttonset{
        justify-content: middle;
    }


    #bodyContent {
        margin-left: -15px;
        background-color: #f9f3fa;
    }
    .dropdownNew,
.dropdownNew li,
.dropdownNew ul {
    list-style:none;
    margin:0;
    padding:0;
}

.dropdownNew {
    position:relative;
    float:left;
    width:100%;
    font-size:13px;
}
.dropdownNew ul {
    position:absolute;
    top:100%;
    visibility:hidden;
    display:none;
    z-index:900;
    width:8em;
    font-size:13px;

}
.dropdownNew ul ul {
    top:0;
    left:100%;
}


.dropdownNew li {
    position:relative;
    float:left;
}
.dropdownNew li:hover{
    z-index:910;
}

.dropdownNew ul:hover,
.dropdownNew li:hover > ul,
.dropdownNew a:hover + ul,
.dropdownNew a:focus + ul {
    visibility:visible;
    display:block;
}
.dropdownNew a {
    display:block;
    background:#9e4faa;
    color:#fff;
    padding:5px 5px 5px 5px ;
}
.dropdownNew ul li {
    width:100%;
}

.dropdownNew li:hover a {
    background:#9e4faa;
}

.dropdownNew li a:focus,
.dropdownNew li a:hover {
    background:#5b0f67;
}


.dropdownNew > li:last-child ul {
    right:0;
}

@media (min-width:320px) and (max-width: 480px)  {
    #basicDataDetailsForm{
        margin-left:20px !important;
    }
    #id_firstName,#id_lastName,#id_email,#id_site,#id_companyName,#id_address_Line1,#id_address_Line2,#id_country,#id_state,#id_postalCode,#id_usradd_country,#id_usradd_address_Line1,#id_usradd_address_Line2,#id_usradd_state,#id_usradd_postalCode{
        width:175px !important;
    }
    #id_countryCode{
        width:40px !important;
    }
    #id_contactNo{
        width:130px !important;
    }
    #id_unit1,#id_unit2,#id_usradd_unit1,#id_usradd_unit2{
       width:78px !important;
    }
    #select_sla, #select_suppliers {
        width: 100px;
        height: 30px;
        border: 1px solid #bb99c0;
        border-radius: 8px;
        padding: 4px !important;
    }
    .paddingLeftZero{
        margin-left:30px !important;
    }
    .offsets-md-1 {
          margin-left: -4.666667% !important;
         width: 148px !important;
    }
    .offsets-md-11 {
         text-align: center !important;
    }
}

.card-pricing.popular {
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.15);
    border: none;
    border-radius: 15px;
    padding: 50px 0;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}
.priceDetails{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.priceDetails span{
    font-size: 20px;
}
.priceDetailsSub{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #757575;
    margin: 0;
    padding: 0;
}

.bgColor {
    color: #000 !important;
    font-weight: bold;
    font-size: 20px;
    background: white;
}
.justifyClass {
    text-align: justify !important
}
.subPlan {
    color: #9f47aa !important;
    font-size: 40px
}
.btnClass, .btnClass:hover  {
    background: #881999;
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 12px 35px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.headingBill {
    font-weight: bold;
    font-size: 16px;
    color: #9f47aa;
    width: 8%
}
.card-footer {
    background-color: white;
    border-top: none
}

/* Right Sidebar Style */

#sidebar {
    width: 250px;
    position: fixed;
    top: 11%;
    right: -270px;
    height: 100%;
    z-index: 999;
    background: #fff;
    border: 1px solid #881999;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}
a[data-toggle="collapse"] {
    position: relative;
}
.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}
/* Right Sidebar Style */
.cardA {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
</style>
 <div class="row">
     <div class="col-md-2 col-sm-4 col-24" id="sideBarLeft">
            {% include "administrationpanelsidebar.html" %}
      </div>
      <div class="col-md-10 paddingLeftZero" id="bodyContent">


<div class="container mb-5 mt-3" id="enterprisePlan" >
    <div class="pricing card-deck flex-column flex-md-row mb-3">
        <div class="card card-pricing popular shadow text-center px-3 mb-4" id="">
            <span class="h6 w-60 bgColor mx-auto px-4 py-1 rounded-bottom text-white shadow-sm">Starter</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <img class="img-responsive" src="https://ordertango.com/img/price/1.svg" alt="orderTangoAccount" style="width: 100%" /> <br/>
                 <h4 class="priceDetails">TBC<span>$</span></h4>
                 <h5 class="priceDetailsSub">per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4 justifyClass">
                    <li>User our OrderTango App to Buy/Sell products with free access</li>
                </ul>
            </div>
            <div class="card-footer"><a id="plan_Freemium" href="#" class="btn mb-3 btnClass planSubscribeBtn">Get Started</a></div>
        </div>
        <div class="card card-pricing popular shadow text-center px-3 mb-4" id="basic">

            <span class="h6 w-60 bgColor mx-auto px-4 py-1 rounded-bottom text-white shadow-sm">Basic</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <img class="img-responsive" src="https://ordertango.com/img/price/2.svg" alt="orderTangoAccount" style="width: 100%" /> <br/>
                <h4 class="priceDetails">TBC<span>$</span></h4>
                 <h5 class="priceDetailsSub">per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4 justifyClass">
                    <li>Accessible to buyer module</li>
                    <li>Customer can place order</li>
                </ul>
            </div>
            <div class="card-footer"><a id="plan_Advanced" href="#" class="btn mb-3 btnClass planSubscribeBtn">Get Started</a></div>
        </div>
        <div class="card card-pricing popular shadow text-center px-3 mb-4" id="professional">
            <span class="h6 w-60 bgColor mx-auto px-4 py-1 rounded-bottom text-white shadow-sm">Professional</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <img class="img-responsive" src="https://ordertango.com/img/price/3.svg" alt="orderTangoAccount" style="width: 100%" /> <br/>
                <h4 class="priceDetails">TBC<span>$</span></h4>
                 <h5 class="priceDetailsSub">per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4 justifyClass">
                    <li>Accessible to seller module</li>
                    <li>Vendor can sell their product</li>
                </ul>
            </div>
            <div class="card-footer"><a id="plan_Professional" href="#" class="btn mb-3 btnClass planSubscribeBtn">Get Started</a></div>
        </div>
        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 bgColor mx-auto px-4 py-1 rounded-bottom text-white shadow-sm" id="enterprise">Enterprise</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <img class="img-responsive" src="https://ordertango.com/img/price/3.svg" alt="orderTangoAccount" style="width: 100%" /> <br/>
                <h4 class="priceDetails">TBC<span>$</span></h4>
                 <h5 class="priceDetailsSub">per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4 justifyClass">
                    <li>Accessible to buyer/seller module</li>
                    <li>User can buy/sell product</li>
                </ul>
            </div>
            <div class="card-footer"><a id="plan_Enterprise" href="#" class="btn mb-3 btnClass planSubscribeBtn">Get Started</a></div>
        </div>
    </div>
</div>



 </div>
 </div>
{% include "rightsidebar.html" %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="exampleModalLongTitle"> </h5>
              <span id="modalCloseBtn">

              </span>
          </div>
          <div class="modal-body">
              <div id="success_msg" class="success_msg"> </div>
              <div id="error_msg" class="error_msg"> </div>
                <form role="form" autocomplete="off">
                    {% csrf_token %}
                    <div id="modalBody">

                    </div>
                </form>
          </div>
          <div class="modal-footer" id="modalFooter">

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="sampleModalPopup" tabindex="-1" role="dialog" aria-labelledby="sampleModalPopupTitle" data-toggle="modal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered sampleModalPopup" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="exampleModalTitle"></h5>
            <button type="button" class="close sampleModalPopupCloseBtn" id="popupCloseBtn" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body" id="samplePopupBodyContent">

          </div>
          <div class="modal-footer">
                <input type="button" id="submit" class="btn btn-primary modalBtnClass sampleModalPopupCloseBtn" data-dismiss="modal" aria-label="Close" value="Close">
          </div>
        </div>
      </div>
    </div>

<div class="modal" id="viewProfileModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog viewProfileModal" style="max-width: 60%;">
    <div class="modal-content" style="background-color: #f7f3fa;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="viewProfileModalTitle"> Profile </h4>
        <button type="button" class="close viewProfileModalClose" data-dismiss="modal" aria-hidden="true">x</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="profileModalBody">
        <div class="row" >
            <div class="col-md-12 col-sm-3 col-6 " >
                <div class="col-md-12" id="viewProfileModalFormDiv">
                    <form class="registrationform" id="updateProfileForm" role="form" method='POST' autocomplete="off">

                        {% csrf_token %}
                        <div id="formsec1">
                          <div class="form-group row registrationformdiv">
                              <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.firstName.label_tag }}<span class="mandatory">*</span></label>
                            {{ ProfileForm.firstName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3" id="firstNameError">{{ ProfileForm.firstName.errors }}</div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.lastName.label_tag }}<span class="mandatory">*</span></label>
                             {{ ProfileForm.lastName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3" id="lastNameError">{{ ProfileForm.lastName.errors }} </div>
                         <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.contactNo.label_tag }}<span class="mandatory">*</span></label>
                             {{ProfileForm.countryCode}}{{ ProfileForm.contactNo }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="contactNoError">{{ ProfileForm.contactNo.errors }} </div>
                        <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.email.label_tag }}<span class="mandatory">*</span></label>
                             {{ ProfileForm.email }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="emailError">{{ ProfileForm.email.errors }} </div>

                        </div>
                        <div id="formsec2">
                            <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.companyName.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.companyName }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="companyNameError"> {{ companyProfileForm.companyName.errors }} </div>

                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.country.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.country }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="countryError"> {{ companyProfileForm.country.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line1.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line1 }}
                            <label class="col-5 col-md-1 col-form-label unitlabel" id="unitlabel">Unit<span class="mandatory">*</span></label>
                             {{ companyProfileForm.unit1 }}
                            <p id="hyphen">-</p>
                            {{ companyProfileForm.unit2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address1Error"> {{ companyProfileForm.address_Line1.errors }} </div>
                          <div class="form-group row registrationformdiv" id="addressTwoDiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line2.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address2Error"> {{ companyProfileForm.address_Line2.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.state.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.state }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="stateError"> {{ companyProfileForm.state.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.postalCode.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.postalCode }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="postalCodeError"> {{ companyProfileForm.postalCode.errors }} </div>
                            <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.sec_question.label_tag }}<span class="mandatory">*</span></label>
                            {{ ProfileForm.sec_question }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="secQuestionError"> {{ ProfileForm.sec_question.errors }} </div>
                            <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.sec_answer.label_tag }}<span class="mandatory">*</span></label>
                            {{ ProfileForm.sec_answer }}
                            <div class="col-12 offset-sm-4 col-md-6" id="submitBtnDiv">  <input type="button" class="profileUpdateButtonClass" id="profileUpdateButton" value="Update"> </div>
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="secAnswerError"> {{ ProfileForm.sec_answer.errors }} </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn editProductModalClose" id="editProductModalClose" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

   <div class="modal fade" id="planDetailsModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h4 class="modal-title" id="planDetailsModalTitle"> Plan Details </h4>
            <button type="button" class="close planDetailsModalClose" data-dismiss="modal" aria-hidden="true">x</button>
          </div>
          <div class="modal-body">



          </div>
          <div class="modal-footer" id="planDetailsModalFooter">

          </div>
        </div>
      </div>
    </div>


    <div class="modal" id="loader"><!-- Place at bottom of page --></div>

<script>
           $body = $("body");
           function load_states(country_id) {
                if(country_id == ''){
                $("#id_cusState").empty().append('<option value="">Select</option>');
                }
                else{
                    $.ajax({
                    url: "/load-states",
                    data: {
                    "country_id": country_id
                    },
                    success: function (data) {
                        var states = JSON.parse(data.states);
                        var stateAppendValues = "";
                        $.each(states, function (key, val) {
                        stateAppendValues = stateAppendValues + "<option value="+val.pk+">"+val.fields.stateName+"</option>";
                        });
                        $("#id_cusState").empty().append(stateAppendValues);
                    }
                    });
                }
           }

            function load_shipping_states(country_id) {
                $.ajax({
                    url: "/load-states",
                    data: {
                      "country_id": country_id
                    },
                    success: function (data) {
                      var states = JSON.parse(data.states);
                      var stateAppendValues = "";
                         $.each(states, function (key, val) {
                        stateAppendValues = stateAppendValues + "<option value="+val.pk+">"+val.fields.stateName+"</option>";
                        });
                          $("#id_cusShipState").empty().append(stateAppendValues);
                    }
                });
            }


            $('#slide-submenu').on('click',function() {
                $(this).closest('.list-group').fadeOut('slide',function(){
                    $('.mini-submenu').fadeIn();
                });
            });


        $(document).ready(function() {

         var url = new URL(window.location.href);

    $(document).on('click', '.planSubscribeBtn', function() {
        var id = $(this).attr('id');
        var res = id.split('_');
        if(url.searchParams.get("url") == res[1] ){
            alert('Already you are in this plan');

        }
        else{
            window.location.href = "/registration?plan="+res[1];
        }
    });

    $(document).on('click', '#companyLogoUpdateBtn', function() {
        var form_data = new FormData();
        var file_data = $('#companyLogo').prop('files')[0];
         var data = "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"companyLogoPath="+file_data;

            $.ajax({
              url: "/logoupdate",
              type: "POST",
              dataType: "text",
              data: data,
              async:false,
              success: function (data)
              {

              }
            });
    });

    $('#domainName').val('');

    $('#exampleModalCenter').on('shown.bs.modal', function() {
      $('#domainName').focus();
    });

    $('#popupCloseBtn').on('click', function() {
        $('#domainName').val('');
        $('#successmsg').empty();
        $('#errormsg').empty();
    });


    $('.mini-submenu').on('click',function(){
        $(this).next('.list-group').toggle('slide');
        $('.mini-submenu').hide();
    })


    $(document).on('keyup', '#googleLink', function() {
        if ($('#googleLink').val() != '') {
            $("#dragDropDiv").css("pointer-events","none");
            $("#dragDropDiv").css("background","#ccc");
        }
        else if ($('#googleLink').val() == '') {
            $("#dragDropDiv").css("pointer-events","auto");
            $("#dragDropDiv").css("background","#fff");
        }
    });

    function drop(event) {
      event.stopPropagation();
      event.preventDefault();
      var input = document.getElementById("customerFileUpload");
      input.files = event.dataTransfer.files; //It returns a FileList object
    }
    });

</script>
{% endblock %}