{% extends 'administrationpanelbase.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/viewall.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/manualUploadForm.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/responsive.bootstrap4.min.css' %}"/>

<script type="text/javascript" src="{% static 'datatables/js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/js/dataTables.responsive.min.js' %}"></script>
<script src ="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<style>
    .sampleModalPopup {
        max-width: 35%
    }
    #customerFileUpload {
        display: none;
    }
    .editArea, .deleteArea  {
        border: 0px;
        font-size:14px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #984fa5;
        padding:5px;
        cursor: pointer;
        margin-right: 5px
    }
    .userButtonClass, .userButtonClass:hover {
        border: 0px;
        font-size: 13px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #984fa5;
        padding: 5px;
        cursor: pointer;
        text-decoration: none;
    }
    .odd{
        background-color: #fff;
    }
    .even{
        background-color: #f9f3fa;
    }
    .priceTextBox{
        width: 80px !important;
        border: 1px solid #c9a6c0;
        border-radius: 8px !important;
        text-align: center;
    }
    .inviteBtn,.activeBtn,.requestBtn{
        width: 38.1% !important;
    }
    .mandatory {
        color: red
    }
    #submitProductBtn {
        margin-top: 10px;
        margin-bottom: -5px
    }
     #editAreaSubmit, #editAreaSubmit:hover, .userButtonClass, .userButtonClass:hover ,#userAreaSubmit, #userAreaSubmit:hover{
        border: 0px;
        font-size: 13px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #984fa5;
        padding: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .modal-body{
        max-height:500px !important;
        overflow-y: scroll
    }
    .headingColor {
        color: #881999;
        margin-left: 13px
    }
    .marginLeftFifteen {
        margin-left: 15px
    }
    #viewAreaDiv, #createAreaDiv {
        background-color: #f9f3fa;
        padding-top: 10px;
        padding-bottom: 10px
    }
    #bodyContent {
        padding-right: 0%
    }
@media (min-width:600px) and (max-width: 801px)  {

    #viewAreaTable{
        width: 176% !important;
    }
    .areaWid{
        margin-left: 50% !important;
    }
    .viewAreaWid{
         margin-left: -283% !important;
    }
    #createArea{
         margin-left: 4% !important;
    }
    .areaBtn{
        margin-left: 50% !important;
    }
    #id_areaName, #id_areaSla, #id_areaDesc{
        width: 151px !important;
    }
    #userAreaSubmit{
        margin-left: 60% !important;
    }

}
@media (min-width:320px) and (max-width: 480px)  {
    .butarea {
        margin: 2px !important;
    }
    .tabWid{
        width: 135% !important;
    }
    #viewDataTable_paginate {
        margin-left: 48% !important;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
       justify-content: center !important;
       padding-left: 100px !important;
    }
    #viewAreaTable_paginate:before {
        font-size: 13px !important;
        margin-left: 43% !important;
    }
    #userAreaSubmit, #userAreaSubmit:hover {
        margin-left: 30% !important;
    }
}
</style>
<div class="row headColor">
  <div class="col-md-2 col-sm-4 col-24" id="sideBarLeft">
        {% include "administrationpanelsidebar.html" %}
  </div>
  <div class="col-md-10 paddingLeftZero" id="bodyContent">
        <div class="row tableCSSForResponsive" id="viewAreaDiv">
            <div class="col-md-6 col-sm-3 col-6 areaWid">
                <h4 class="headingColor viewAreaWid"> View Area </h4>
            </div>
             <div class="col-md-6 col-sm-3 col-6">
                 <div class="pull-right">
                    <button class="butarea userButtonClass" id="createArea">
                         <img class="roundImage" src="/static/images/Round.png" /> Create Area
                    </button>
                    <span class="input-group" id="searchOptionInputGroup">
                                <input type="text" id="searchOption"  maxlength="60">
                                <div class="input-group-append">
                                  <span id="spanSearchIcon">
                                    <i class="fa fa-search"></i>
                                  </span>
                                </div>
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-sm-8 col-10" id="viewAreaDiv">
                <table class="tabWid table hover dt-responsive viewAreaTable" id="viewAreaTable" width="100%" style="font-size:85%">
                     <thead>

                     </thead>
                 </table>
            </div>
        </div>
        <div class="row tableCSSForResponsive" id="createAreaDiv">
            <div class="col-md-6 col-sm-3 col-6 areaWidth">
                <h4 class="headingColor"> Create Area </h4>
            </div>
             <div class="col-md-6 col-sm-3 col-6 areaBtn">
                <button class="userButtonClass pull-right" id="viewArea">
                     View Area
                </button>
            </div>
                 <div class="col-md-12" id="areaFormDiv">
                   <form class="post-form" id="areaForm" role="form" autocomplete="off">
                    {% csrf_token %}
                    <div class="customerManualForm" id="userAddDetail">
                        <div class="form-group row customerDetailsForm">
                         <label class="col-6 col-md-3 col-form-label marginLeftFifteen customerDetailsFormLabel">{{areaAddForm.areaName.label_tag }}<span class="mandatory">*</span></label>
                                    {{ areaAddForm.areaName }}
                        </div>
                        <div class="form-group row customerDetailsForm">
                         <label class="col-6 col-md-3 col-form-label marginLeftFifteen customerDetailsFormLabel">{{areaAddForm.areaSla.label_tag }}</label>
                                    {{ areaAddForm.areaSla }}
                        </div>
                        <div class="form-group row customerDetailsForm">
                         <label class="col-6 col-md-3 col-form-label marginLeftFifteen customerDetailsFormLabel">{{areaAddForm.areaDesc.label_tag }}<span class="mandatory">*</span></label>
                                    {{ areaAddForm.areaDesc }}
                        </div>
                     </div>
                    </form>
                     <div class="offset-md-3 col-md-4 col-sm-4 offset-5 col-7">
                       <a href="#" id="hitBtn"><input type="button" id="userAreaSubmit" class="btn btn-primary" value="Submit"> </a>
                    </div>

                </div>
            </div>
    </div>
</div>
{% include "rightsidebar.html" %}

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="exampleModalLongTitle">Change Domain Name</h5>
               <span id="modalCloseBtn">

              </span>
          </div>
           <div class="modal-body">
              <div id="success_msg" class="success_msg"> </div>
              <div id="error_msg" class="error_msg"> </div>
                <form role="form" autocomplete="off">
                    {% csrf_token %}
                    <div id="modalBody">

                    </div>
                </form>
          </div>
          <div class="modal-footer " id="modalFooter">

          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="sampleModalPopup" tabindex="-1" role="dialog" aria-labelledby="sampleModalPopupTitle" data-toggle="modal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered sampleModalPopup" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="exampleModalTitle"></h5>
            <button type="button" class="close" id="popupCloseBtn" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="samplePopupBodyContent">

          </div>
          <div class="modal-footer">
                <input type="button" id="submit" class="btn btn-primary modalBtnClass" data-dismiss="modal" aria-label="Close" value="Close">
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="testsample"><!-- Place at bottom of page --></div>

<div id="imageModel" class="modal" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4>Image upload</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">

         <form id="updateLogo"  method="post" enctype="multipart/form-data" autocomplete="off">
             {% csrf_token %}

         <input type="file" name="fileuploaddata" value="fileupload" id="fileuploaddata">
             <p style="font-size:13px;">allowed only Jpg,png formats below 5MB</p>
         <input type="text" name="" value="" id="idContainer">


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="uploadImageSubmit" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

<div class="modal" id="viewProfileModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog viewProfileModal" style="max-width: 60%;">
    <div class="modal-content" style="background-color: #f7f3fa;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="viewProfileModalTitle"> Profile </h4>
        <button type="button" class="close viewProfileModalClose" data-dismiss="modal" aria-hidden="true">x</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="profileModalBody">
        <div class="row" >
            <div class="col-md-12 col-sm-3 col-6 " >
                <div class="col-md-12" id="viewProfileModalFormDiv">
                    <form class="registrationform" id="updateProfileForm" role="form" method='POST' autocomplete="off">

                        {% csrf_token %}
                        <div id="formsec1">
                          <div class="form-group row registrationformdiv">
                              <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.firstName.label_tag }}<span class="mandatory">*</span></label>
                            {{ ProfileForm.firstName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3" id="firstNameError">{{ ProfileForm.firstName.errors }}</div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.lastName.label_tag }}<span class="mandatory">*</span></label>
                             {{ ProfileForm.lastName }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3" id="lastNameError">{{ ProfileForm.lastName.errors }} </div>
                        <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.contactNo.label_tag }}<span class="mandatory">*</span></label>
                             {{ProfileForm.countryCode}}{{ ProfileForm.contactNo }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="contactNoError">{{ ProfileForm.contactNo.errors }} </div>
                        <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.email.label_tag }}<span class="mandatory">*</span></label>
                             {{ ProfileForm.email }}
                          </div>
                          <div class="offset-3 offset-sm-4 offset-md-3 hide" id="emailError">{{ ProfileForm.email.errors }} </div>

                        </div>
                        <div id="formsec2">
                            <div class="form-group row registrationformdiv hide">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.companyName.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.companyName }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="companyNameError"> {{ companyProfileForm.companyName.errors }} </div>


                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.country.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.country }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="countryError"> {{ companyProfileForm.country.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line1.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line1 }}
                            <label class="col-5 col-md-1 col-form-label unitlabel" id="unitlabel">Unit<span class="mandatory">*</span></label>
                             {{ companyProfileForm.unit1 }}
                            <p id="hyphen">-</p>
                            {{ companyProfileForm.unit2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address1Error"> {{ companyProfileForm.address_Line1.errors }} </div>
                          <div class="form-group row registrationformdiv" id="addressTwoDiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.address_Line2.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.address_Line2 }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="address2Error"> {{ companyProfileForm.address_Line2.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.state.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.state }}
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="stateError"> {{ companyProfileForm.state.errors }} </div>
                          <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{companyProfileForm.postalCode.label_tag }}<span class="mandatory">*</span></label>
                            {{ companyProfileForm.postalCode }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="postalCodeError"> {{ companyProfileForm.postalCode.errors }} </div>
                            <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.sec_question.label_tag }}<span class="mandatory">*</span></label>
                            {{ ProfileForm.sec_question }}

                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="secQuestionError"> {{ ProfileForm.sec_question.errors }} </div>
                            <div class="form-group row registrationformdiv">
                            <label class="col-5 col-md-3 col-form-label registrationformlabel">{{ProfileForm.sec_answer.label_tag }}<span class="mandatory">*</span></label>
                            {{ ProfileForm.sec_answer }}
                            <div class="col-12 offset-sm-4 col-md-6" id="submitBtnDiv">  <input type="button" class="profileUpdateButtonClass" id="profileUpdateButton" value="Update"> </div>
                          </div>
                            <div class="offset-3 offset-sm-4 offset-md-3" id="secAnswerError"> {{ ProfileForm.sec_answer.errors }} </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn editProductModalClose" id="editProductModalClose" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

 <div class="modal" id="loader"><!-- Place at bottom of page --></div>

 <!-- The Modal -->
<div class="modal" id="editAreaModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog editAreaModal" style="max-width: 60%">
<div class="modal-content" style="background-color: #f7f3fa;">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title" id="editUserModalTitle"> Edit Area</h4>
<button type="button" class="close editUserModalClose" data-dismiss="modal" aria-hidden="true">x</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="row">
    <div class="col-md-12 col-sm-3 col-12">
    <div class="col-md-12" id="editAreaFormDiv">
    <form class="post-form" id="editAreaForm" role="form" autocomplete="off">
                    {% csrf_token %}
                    <div class="customerManualForm" id="userAddDetail">
                         {{ areaEditForm.areaId }}
                        <div class="form-group row customerDetailsForm">
                         <label class="col-6 col-md-3 labelForResponsive col-form-label marginLeftFifteen customerDetailsFormLabel">{{areaEditForm.areaName.label_tag }}<span class="mandatory">*</span></label>
                                    {{ areaEditForm.areaName }}
                        </div>
                        <div class="form-group row customerDetailsForm">
                         <label class="col-6 col-md-3 labelForResponsive col-form-label marginLeftFifteen customerDetailsFormLabel">{{areaEditForm.areaSla.label_tag }}</label>
                                    {{ areaEditForm.areaSla }}
                        </div>
                        <div class="form-group row customerDetailsForm">
                         <label class="col-6 col-md-3 labelForResponsive col-form-label marginLeftFifteen customerDetailsFormLabel">{{areaEditForm.areaDesc.label_tag }}<span class="mandatory">*</span></label>
                                    {{ areaEditForm.areaDesc }}
                        </div>
                     </div>
                    </form>
                    <div class="offset-md-5 col-md-4 col-sm-4 offset-4 col-8">
                        <input type="button" id="editAreaSubmit" class="btn btn-primary" value="Submit">
                    </div>
    </div>
    </div>
    </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
    <button type="button" class="btn editUserModalClose" id="editUserModalClose" data-dismiss="modal">Close</button>
    </div>

    </div>
    </div>
</div>

<div class="modal" id="unauthorizedModalPopup" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="sampleModalPopupTitle" data-toggle="modal" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered sampleModalPopup" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="unauthorizeModalTitle">{{company.companyName}}</h5>
            <button type="button" class="close" id="unauthorizeCloseBtn" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="unauthorize">
                    <p>You didn't have access this.</p>
          </div>
          <div class="modal-footer">
                <input type="button" class="btn btn-primary modalBtnClass" data-dismiss="modal" aria-label="Close" value="Close">
          </div>
        </div>
      </div>
    </div>

<div class="modal" id="confirmModalPopup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="sampleModalPopupTitle" data-toggle="modal" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered confirmModalPopup" role="document">
        <div class="modal-content modalBorderClass">
          <div class="modal-header">
            <h5 class="modal-title modalTitleHead" id="confirmModalPopupTitle"></h5>
            <button type="button" class="close" id="confirmModalPopupCloseBtn" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <input type="hidden" id="areaId" value="">
          <div class="modal-body" id="confirmModalPopupBodyContent">


          </div>
          <div class="modal-footer" style="text-align:center">
              <div class="col-md-12">
                  <input type="button" id="confirmModalPopupSubmit" class="btn btn-primary modalBtnClass" data-dismiss="modal" aria-label="Close" value="Confirm">
                <input type="button" id="confirmModalPopupClose" class="btn btn-primary modalBtnClass" data-dismiss="modal" aria-label="Close" value="Cancel">
              </div>
          </div>
        </div>
      </div>
    </div>


<script>

        /*if("{{authorize}}" != "authorized"){
            $('#unauthorizedModalPopup').modal();
        }*/

            $body = $("body");
            $('#iconsec').on('click',function() {
                 $('#fileuploaddata').val(null);
                 $('#imageModel').show();
                    $('#imageModel').modal('toggle');

            });

            /* Hide the Onboard DropdownMenu in Sidebar Start */
            $('#onboardDropDown').hide();
            /* Hide the Onboard DropdownMenu in Sidebar End */

            $('#createAreaDiv').hide();

            $.ajax({
              url: "/fetchAreaData",
              type: "GET",
              dataType : "json",
              contentType : "application/json",
              success: function (result)
              {
                var data = result;
                if (data.status == 'success') {
                    pullAreaTable(data.areaData);
                }
                else if(data.status == 'error' && data.error_msg == 'sessionexpired'){
                    alert('Session has expired.');
                    setTimeout(function() {
                        window.location.href = data.redirect_url;
                    }, 2000);
                }
               else{
                    alert(data.error_msg);
                }
              }
            });

            viewAreaTable = $('#viewAreaTable').DataTable({"bFilter": false,
                "lengthChange": false,
                    "targets": 'no-sort',
                    "bSort": false,
                    "info": false,
                    "searching": true,
                    "order": [],
                    "pagingType": "full_numbers",
                    language: {
                            paginate: {
                                previous: false,
                                next: false,
                                first: '<img src="{% static 'images/leftsidearrow.png' %}" width=15 />',
                                last: '<img src="{% static 'images/rightsidearrow.png' %}" width=15 />'
                            }
                        },
                "columns": [
                        { "title": "S.No" },
                        { "title": "Area Name" },
                        { "title": "Sla Name" },
                        { "title": "Area Desc" },
                        { "title": "Status" },
                        { "title": "Action"},
                    ],
                 columnDefs: [
                         { "width": "2%", "targets": 0 },
                         { "width": "15%", "targets": 1 },
                         { "width": "15%", "targets": 2 },
                         { "width": "15%", "targets": 3 },
                         { "width": "15%", "targets": 4 },
                         { "width": "15%", "targets": 5 },
                ],
                responsive: {
                        details: {
                            renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                        }
                    }
                });

            function pullAreaTable(areaData) {
                viewAreaTable.clear().draw();
                viewAreaTable.destroy();
                $('#viewAreaTable').empty();
                viewAreaTable = $('#viewAreaTable').DataTable({"bFilter": false,
                "lengthChange": false,
                    "targets": 'no-sort',
                    "bSort": false,
                    "info": false,
                    "searching": true,
                    "order": [],
                    "pagingType": "full_numbers",
                    language: {
                            paginate: {
                                previous: false,
                                next: false,
                                first: '<img src="{% static 'images/leftsidearrow.png' %}" width=15 />',
                                last: '<img src="{% static 'images/rightsidearrow.png' %}" width=15 />'
                            }
                        },
                "columns": [
                        { "title": "S.No" },
                        { "title": "Area Name" },
                        { "title": "Sla Name" },
                        { "title": "Area Desc" },
                        { "title": "Action"},
                    ],
                 columnDefs: [
                         { "width": "2%", "targets": 0 },
                         { "width": "15%", "targets": 1 },
                         { "width": "15%", "targets": 2 },
                         { "width": "15%", "targets": 3 },
                         { "width": "15%", "targets": 4 },
                ],
                responsive: {
                        details: {
                            renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                        }
                    }
                });
                if (areaData.length > 0) {
                    $.each(areaData, function( index, value ) {
                       var sno = index+1;
                       var action = "<input class='editArea' id='edit_"+value.areaId+"' type='button' value='Edit'><input class='deleteArea' id='delete_"+value.areaId+"' type='button' value='Delete'>";
                       if (value.areaName == 'Central') {
                         action = "<input class='editArea' id='edit_"+value.areaId+"' type='button' value='Edit'>";
                       }
                       viewAreaTable.row.add([sno,value.areaName,value.areaSlaId__slaType,value.areaDesc,action]).draw();
                    });
                }
                else {
                    $('.dataTables_paginate').hide();
                }
            }

            $('#subUserForm').keydown(function(e) {
                var key = e.which;
                if (key == 13) {
                    $('#subUserFormSubmit').click();
                }
            });

            $('#subUserFormSubmit').keydown(function(e) {
                var key = e.which;
                if (key == 13) {

                    $('#subUserFormSubmit').click();
                }
            });

            /*var e = jQuery.Event("keydown");
            e.which = 13; // # Some key code value
            $('#subUserFormSubmit').trigger(e);*/

            $(document).on('change', '#id_email', function() {
                if($("#id_email").val() != ''){
                    var mail=document.getElementById("id_email").value;
                    var atposition=mail.indexOf("@");
                    var dotposition=mail.lastIndexOf(".");
                    var email = $("#id_email").val();

                    if(atposition<1||dotposition<atposition+2||dotposition+2>mail.length)
                    {
                       alert('Please enter valid email');
                      return false;
                    }
                }
           });

           function load_states(country_id){
                if(country_id == ''){
                    $("#state").empty().append('<option value="">Select</option>');
                }
                else{
                    $.ajax({
                    url: "/load-states",
                    data: {
                    "country_id": country_id
                    },
                    success: function (data) {
                    var states = JSON.parse(data.states);
                    var stateAppendValues = "";
                    $.each(states, function (key, val) {
                    stateAppendValues = stateAppendValues + "<option value="+val.pk+">"+val.fields.stateName+"</option>";
                    });
                    $("#state").empty().append(stateAppendValues);
                    }
                    });
                }
           }

            $(document).on('click', '#userAreaSubmit', function() {
                var formStatus;
                $("#areaForm input, #areaForm textarea").each(function() {
                    if (this.value != '') {
                        formStatus = true;
                        return true;
                    }
                    else {
                        formStatus = false;
                        $('#'+this.id+'').focus();
                        return false;
                    }
                });
                if (formStatus == true) {
                     $body.addClass("loading");
                     if ($('#id_areaSla').val() == ''){

                        var areaSlaId = 1;
                     }
                     else{
                        var areaSlaId = $('#id_areaSla').val();
                     }
                     var data = {"type":"create","areaName":$('#id_areaName').val(),"areaSla":areaSlaId,"areaDesc":$('#id_areaDesc').val()};
                     $.ajax({
                      url: "/createAreaDetails",
                      type: "POST",
                      dataType : "json",
                      contentType : "application/json",
                      data: JSON.stringify(data),
                      success: function (result)
                      {
                            $body.removeClass("loading");
                            if (result.status == 'success') {
                                alert(result.success_msg);
                                setTimeout(function() {
                                    location.reload();
                                },2000);
                            }
                            else if(result.status == 'error' && result.error_msg == 'sessionexpired'){
                                    alert('Session has expired.');
                                    setTimeout(function() {
                                        window.location.href = data.redirect_url;
                                    }, 2000);
                            }
                           else{
                                alert(result.error_msg);
                            }
                          }
                     });
                }
            });

            $('#userId').css('display','none');

            $(document).on('click', '.editArea', function() {
                  var idNum = $(this).attr('id').match(/\d+/);
                  var data = {"areaId":idNum[0]};
                  $.ajax({
                  url: "/fetchAreaDataViaId",
                  type: "POST",
                  dataType : "json",
                  contentType : "application/json",
                  data: JSON.stringify(data),
                  success: function (result)
                  {
                    var data = result;
                    if (data.status == 'success') {
                         $('#eAreaId').val(data.areaData[0].areaId);
                         $('#eAreaSla').find('option[value="'+data.areaData[0].areaSlaId+'"]').attr("selected",true);
                         $('#eAreaName').val(data.areaData[0].areaName);
                         if(data.areaData[0].areaName == 'Central'){
                         $("#eAreaName").prop("disabled",true);
                         }
                         else{
                            $("#eAreaName").prop("disabled",false);
                         }
                         $('#eAreaDesc').val(data.areaData[0].areaDesc);
                         $('#editAreaModal').show();
                         $('#editAreaModal').modal('toggle');
                    }
                   else if(result.status == 'error' && result.error_msg == 'sessionexpired'){
                        alert('Session has expired.');
                        setTimeout(function() {
                            window.location.href = data.redirect_url;
                        }, 2000);
                    }
                    else{
                        alert(result.error_msg);
                    }
                   }
                });
            });

            $(document).on('click', '.deleteArea', function() {
                  var idNum = $(this).attr('id').match(/\d+/);
                  var id = idNum[0];
                  $('#confirmModalPopupTitle').empty();
                     $('#areaId').val('');
                     $('#confirmModalPopupBodyContent').empty();
                     $('#confirmModalPopupTitle').append('Delete Area');
                     $('#areaId').val(id);
                     $('#confirmModalPopupBodyContent').append('Are you sure, you want to delete?');
                     $('#confirmModalPopup').modal('show');

            });

            $('#confirmModalPopupSubmit').on('click', function() {
            var id = $('#areaId').val();
                var data = {"areaId":id};
                  $.ajax({
                  url: "/removeAreaDataViaId",
                  type: "POST",
                  dataType : "json",
                  contentType : "application/json",
                  data: JSON.stringify(data),
                  success: function (result)
                  {
                    var data = result;
                    if (data.status == 'success') {
                        alert(data.success_msg);
                        setTimeout(function() {
                                window.location.reload();
                            }, 3000);
                    }
                    else if(data.status == 'error' && data.error_msg == 'sessionexpired'){
                        alert('Session has expired.');
                        setTimeout(function() {
                            window.location.href = data.redirect_url;
                        }, 2000);
                    }
                    else{
                        alert(data.error_msg);
                    }
                   }
                });
            });

            $(document).on('click', '#editAreaSubmit', function() {
                var formStatus;
                $("#editAreaForm input, #editAreaForm textarea").each(function() {
                    if (this.value != '') {
                        formStatus = true;
                        return true;
                    }
                    else {
                        formStatus = false;
                        $('#'+this.id+'').focus();
                        return false;
                    }
                });
                if (formStatus == true) {
                    if ($('#eAreaSla').val() == ''){

                        var areaSlaId = 1;
                     }
                     else{
                        var areaSlaId = $('#eAreaSla').val();
                     }
                    var data = {"type":"update","areaId":$('#eAreaId').val(),"areaSla":areaSlaId,"areaName":$('#eAreaName').val(),"areaDesc":$('#eAreaDesc').val()};
                     $.ajax({
                      url: "/updateAreaDetails",
                      type: "POST",
                      dataType : "json",
                      contentType : "application/json",
                      data: JSON.stringify(data),
                      success: function (result)
                      {
                            if (result.status == 'success') {
                                alert(result.success_msg);
                                setTimeout(function() {
                                    location.reload();
                                },2000);
                            }
                            else if(result.status == 'error' && result.error_msg == 'sessionexpired'){
                                alert('Session has expired.');
                                setTimeout(function() {
                                    window.location.href = data.redirect_url;
                                }, 2000);
                            }
                            else{
                                alert(result.error_msg);
                            }
                          }
                     });
                }
            });

            $(document).on('click', '.userButtonClass', function() {
                if ($(this).attr('id') == 'createArea') {
                    $('#viewAreaDiv').hide();
                    $('#createAreaDiv').show();
                    $('#areaName').focus();
                }
                else if ($(this).attr('id') == 'viewArea') {
                    location.reload();
                }
            });

            $('#profilePicture').on('click',function() {
              $('#fileuploaddata').val(null);
                $('#imageModel').modal('toggle');
                $('#imageModel').show();
            });

            $('#slide-submenu').on('click',function() {
                $(this).closest('.list-group').fadeOut('slide',function(){
                    $('.mini-submenu').fadeIn();
                });
            });

        $(document).ready(function() {

         var date = new Date();
                $("#uDOJ , #uDOD").datepicker({
                    changeYear: true,
                    dateFormat: "dd/mm/yy",
                    defaultDate: 'Select',
                    onSelect: function () {
                        selectedDate = $.datepicker.formatDate("dd/mm/yyyy", $(this).datepicker('getDate'));
                    }
                });

            function showMessage(status, msgTitle, msgBody) {
                $('#exampleModalTitle').empty();
                $('#samplePopupBodyContent').empty();
                $('#exampleModalTitle').append(msgTitle);
                $('#samplePopupBodyContent').append(msgBody);
                $('.sampleModalPopup').css('max-width','35%');
                if (status == 'error') {
                    $('.sampleModalPopup').css('max-width','80%');
                }
                $('#sampleModalPopup').modal('show');
            }

            $('.customerType').hide();
            $('#idContainer').hide();

            $(document).on('click', '#companyLogoUpdateBtn', function() {
                var form_data = new FormData();
                var file_data = $('#companyLogo').prop('files')[0];
                 var data = "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"companyLogoPath="+file_data;
                    $.ajax({
                      url: "/logoupdate",
                      type: "POST",
                      dataType: "text",
                      data: data,
                      async:false,
                      success: function (data)
                      {

                      }
                    });
            });

			$('#domainName').val('');

			$('#exampleModalCenter').on('shown.bs.modal', function() {
              $('#domainName').focus();
            });

			$('#popupCloseBtn').on('click', function() {
                $('#domainName').val('');
                $('#successmsg').empty();
                $('#errormsg').empty();
            });


            $('#domainName').on('keypress', function (event) {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                   event.preventDefault();
                   return false;
                }
            });




              $('#submit').on('click', function() {
                $('#success_msg').empty();
                $('#error_msg').empty();
                if ($('#domainName').val() != '') {
                    var data = "csrfmiddlewaretoken="+$('input[name=csrfmiddlewaretoken]').val()+"&domainName="+$('#domainName').val();
                    $.ajax({
                      url: "/renameSchemaURL",
                      type: "POST",
                      dataType: "text",
                      data: data,
                      async:false,
                      success: function (result)
                      {
                        var data = JSON.parse(result);
                        if (data.status == 'success') {
                            $('#success_msg').append(data.success_msg);
                            $("#domainName").prop("disabled",true);
                            $("#submit").prop("disabled",true);
                            setTimeout(function() {
                                $('#success_msg').empty();
                                window.location.href = data.redirect_url;
                            }, 3000);
                        }
                        else if (data.status == 'error' && data.error_msg == 'sessionexpired') {
                            $('#domainName').val('');
                            $('#error_msg').append('Session expired.');
                            $("#domainName").prop("disabled",true);
                            $("#submit").prop("disabled",true);
                            setTimeout(function() {
                                window.location.href = data.redirect_url;
                            }, 3000);
                        }
                        else{
                            $('#error_msg').append(data.error_msg);
                        }
                      }
                     });
                }
                else {
                    $('#error_msg').append('Please enter domain name');
                }
            });

            $('.mini-submenu').on('click',function(){
                $(this).next('.list-group').toggle('slide');
                $('.mini-submenu').hide();
            })

            checkTreeCollapse();

            function checkTreeCollapse() {
                $(".tree-container li.tree-li").removeClass("is-child")
                $(".tree-container li.tree-li").each(function () {
                    if ($(this).find("ul.tree-ul li").length > 0) {
                        $(this).addClass("is-child")
                    }
                });
                $(".tree-container li.tree-li span.text").unbind("click");
                $(".tree-container li.tree-li.is-child span.text").click(function () {
                    $(this).parent(".tree-li").toggleClass("diactive");
                    $(this).parent(".tree-li").find(".tree-ul:first").toggleClass("diactive");
                });
            }

            /* Customize search option for DataTable Start */
                $('#searchOption').on( 'keyup', function () {
                      $('#viewAreaTable').DataTable().search(this.value).draw();
                });
            /* Customize search option for DataTable End */

            $('.navTabClass').on('click', function() {
                var id = $(this).attr('id');
                $('.navTabClass').removeClass('navHeading');
                $('.navTabClass > a.anchorlink').removeClass('activeNav');
                $('#'+id+'').addClass('navHeading');
                $('#'+id+ '> a').addClass('activeNav');
            });

            window.scrollTo(0,0);
            window.document.body.scrollTop++;

    });


</script>
{% endblock %}